[2015-06-03 03:10] linuxjet opened #1 "Failure on Zwave Repeater"
I am attempting to use your PyISY and it is failing on this node:
[code]

[2015-06-04 02:30] rmkraus commented on #1
ZWave is not currently supported. When support for ZWave is added, I'll try to ensure this is properly handled.

Thanks for the feedback.

[2015-06-04 02:30] #1 closed

[2015-06-04 04:43] linuxjet opened #2 "SSL failure"
When connecting to a remote host via https the connection fails.
one issue related: line 34 of Connection.py. the protocol is the same as standard http - modifying this gets us closer but does not solve the issue.
[code]

second issue: line 53 of Connection.py the connection is set to verify the ssl cert so no self signed certs will work.  disabling verification allows it to try to connect but wit

[2015-06-07 04:43] rmkraus commented on #2
Thank you very much for the detail. Admittedly, HTTPS  hadn't been tested as well as they should have been. Aside from the typo on my end, it looks like verifying certs is a relatively new feature in Python's httplib and I had not debugged against the updated library.

Interestingly enough for me, after making those changes, I cannot connect to the ISY controller at all. The HTTPS server appears t

[2015-06-07 04:53] rmkraus commented on #2
While reviewing change logs for the ISY Firmware, I was quickly reminded that UDI disabled SSL support and now only accepts TLS. Python likes to use SSL unless explicitly told to use TLS. This is most definitely the reason for some of this heartache. I'll be looking into that.

[2015-06-07 05:00] linuxjet commented on #2
I am using beta 4.3.30 with tls1.2 set as encryption level.

On Sat, Jun 6, 2015 at 11:53 PM, Ryan Kraus <notifications@github.com>
wrote:

[2015-06-07 05:05] rmkraus commented on #2
Very interesting. I am actually surprised you got as far as you did! I would have expected errors to be thrown indicating that it could not make the initial connection to the controller. Something along these lines:

[code]

[2015-06-07 05:42] rmkraus commented on #2
Just as a heads up, the fix for this will require that the end user has OpenSSL version 1.0.1 or greater. Version 1.0.1g or greater will be recommended since that has the Heartbleed patch. Python must also have been compiled against that library. Python version 2.7.9 or greater or Python 3.4 or greater will also be required. Without these minimum requirements, HTTPS will not be available.

[2015-06-07 08:58] rmkraus commented on #2
Alright, the newest version on here now properly supports HTTPS with both TLS 1.1 and 1.2.  I will be running some durability tests on it before publishing it to PyPI. In the meantime, if you clone this repository and place the PyISY directory in your Python Path, you can do some early testing on it. I am not able to test with TLS1.2 as I don't have a Pro ISY. There is very little difference betwe

[2015-06-07 13:30] linuxjet commented on #2
tested and working.  thank you.  no issues.

[2015-06-07 13:30] #2 closed

[2015-06-07 20:29] rmkraus commented on #2
Left running for about 12 hours with HTTPS with no issues. I'm pushing the updates to PIP now and publishing the updated documentation.

[2015-06-29 04:18] rmkraus opened #3 "Improper Node Addressing Returns None"
If a node is improperly requested from the node manager, None is returned. This should return an error to reduce confusion.

[2015-08-08 02:15] jimboca opened #5 "Error possibly due to python 2.7 mindom"
When I try using this with my Python 2.7 I get errors similar to below.  When I run with Python 3.2 I do not have any issues.  I suspect it's an issue with the minidom version in 2.7?

[code]
Let me know how I can help debug this.  I'd like this to run with 2.7 since that is the default version on RPI, and I have issues with other modules like web.py on 3.2 so I'd like to stay on 2.7 if possible?

[2015-08-08 22:27] rmkraus commented on #5
Does this happen when PyISY is running and then you add a node to the ISY?

[2015-08-08 22:33] jimboca commented on #5
I have not added any new nodes, and this exact error shows up every time I start my program for the same device.  But otherwise things seem to work.

And the log has this:
[code]

[2015-08-09 00:13] rmkraus commented on #5
What is happening is the PyISY is receiving an update from the ISY over the event stream that is trying to update the ST (status) value of that node. The problem is that this node has, for some reason, not been added to the node tree inside of PyISY. I'm not sure why it works in 3.2 and not 2.7.

Could you do me two favors to help diagnose this error:
1) Copy the block for that node from http://IS

[2015-08-09 02:30] jimboca commented on #5
It looks like I am getting no nodes when using Python 2.7, the list is empty.  So it makes sense that any devices that report a status cause an error once the event stream starts.  I thought things were working ok, but I have only been doing Variable setting so far, so I didn't notice.  I didn't attach what you requested, since it looks like I'll need to walk through to see why I'm not getting nod

[2015-08-09 03:01] rmkraus commented on #5
Well that is just all kinds of bad! I'm using the 1.0.6 version you just
submitted and I'm seeing all my nodes. Have you made any additional
changes? Nodes that contain <family>6</family> are ignored because they are
system nodes. That isn't showing up in all your nodes (in the XML from the
ISY) for some odd reason is it? As a tip, you can put in a a python
breakpoint by entering the following int

[2015-08-09 04:01] jimboca commented on #5
No I have not changed anything else.  The insteon nodes don't have family in my xml, and z-wave nodes have <family>4</family>.

Thanks for the tips on the debugger, I will look into it.  Something I need to be more familiar with anyway.

I didn't think Variables used VarEvents because it didn't work the first time I tried it, but obviously I was doing it wrong, so that is great, and I'll try again

[2015-08-09 16:25] jimboca commented on #5
I started with the debugger and quickly realized this was the error I had seen before with mindom on Python 2.7, I did not notice the log was saying:
ERROR:root:ISY Could not parse nodes, poorly formatted XML.
This works with minidom and python 3.2 :-(

[2015-08-09 16:35] rmkraus commented on #5
Ok. If you would like, you could put in a break point before the xml
parsing, print the xml data out to a file, and then attach it. Then I'll
use this to try and figure out what is going on.

On Sunday, August 9, 2015, jimboca <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2015-08-09 16:59] jimboca commented on #5
Ok, whats the best way?  I thought this would work:
[code]
The first part looks like this:
[code]

[2015-08-09 17:10] rmkraus commented on #5
Ahh yes, that is Python saying that it cannot print the degrees symbol out
to an ASCII file because the degrees symbol is Unicode. In Python 2.7, do
this:

fo = open("nodes.xml", "w")
fo.write(xml.replace(u'\xb0', ''))
fo.close()

Thanks,

Ryan Kraus

On Sun, Aug 9, 2015 at 12:59 PM, jimboca <notifications@github.com> wrote:

[2015-08-09 17:15] jimboca commented on #5
Ok, great.  I will email it to you.  I feel weird posting all my device address here...

[2015-08-09 17:16] rmkraus commented on #5
Fair enough. I'll keep an eye out for it.

Thanks,

Ryan Kraus

On Sun, Aug 9, 2015 at 1:15 PM, jimboca <notifications@github.com> wrote:

[2015-08-09 17:19] jimboca commented on #5
Ok, email sent.  Thanks for looking into it!

[2015-08-30 18:42] rmkraus commented on #5
Do you have any ZWave temperature sensors?

[2015-08-30 18:47] jimboca commented on #5
Yes, I have 2 different models of the Aeon multisensors, and some ZWave thermostats.

[2015-08-30 18:52] rmkraus commented on #5
Try again with the newest version in master. I think I fixed your issue.

[2015-08-30 19:00] jimboca commented on #5
Awesome, that did it!  thanks!

[2015-08-30 19:00] rmkraus commented on #5
Great!

[2015-08-30 19:00] #5 closed

[2015-08-30 19:15] #3 closed

[2015-08-30 21:28] jimboca opened #6 "Bad file descriptor error in events.py"
I'm not sure what caused this, there is no error I can find in the logger output, I only saw this in the console output.

[code]

Not sure if this will help, but it happened again, and this is the last part of the log:

[code]

[2015-08-31 01:03] jimboca opened #7 "Constant variable updates using a lot of cpu"
From events.py I commented out the line below and added a logger info to see where it's happening because this update was constantly running stressing the RPi and ISY:

[code]

Here are a few examples from my log:

[code]

Probably something different with Z-Wave devices?  Or is it because I have a lot of programs running on the ISY?

[2015-08-31 01:14] rmkraus commented on #7
You do have a lot of things running. Maybe it would be best to remove that part. I can't remember the exact reason that is in there, but I feel like it was to handle when new programs/folders were created, destroyed, or moved. It is probably safe to just not handle these cases though.

[2015-08-31 01:16] rmkraus commented on #6
There is probably a small glitch with how the socket is torn down. The socket is probably being closed before the thread that is reading from the socket has a chance to terminate. I wouldn't worry about it as it will not cause any problems.

[2015-08-31 01:16] rmkraus commented on #6
This should be fixed, but it is a low priority item.

[2015-08-31 01:19] jimboca commented on #6
Ok, no problem.

[2015-08-31 01:21] jimboca commented on #7
Ok, I'll just leave it commented out.  Looking a little more,it seems to be because the Z-Wave devices end in "_1", which the first line of that code is looking for?

[2015-08-31 14:44] jimboca opened #9 "Add support for ISY Device notes and spoken properties"
Would you be ok with loading the ISY notes and spoken properties so caller can reference nodes thru the spoken name?  More info is here:  http://forum.universal-devices.com/topic/16646-notes-field/?p=146578

This would make it easier to reference the spoken name for my Amazon Echo interface in https://github.com/jimboca/ISYHelper

Thanks,
Jim

[2015-08-31 15:58] rmkraus commented on #9
I am not opposed to that. I haven't used those features before but it
should be easy enough to integrate. I don't have time to do this anytime
soon, but it can probably be rolled in eventually.

On Monday, August 31, 2015, jimboca <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2015-08-31 17:37] jimboca commented on #9
Thanks, I can look into adding it.

[2015-09-01 00:52] jimboca commented on #9
Where would you prefer this code added?  Inside Nodes/__init__.py before inserting the new Node?  Since it will have to make a rest call on each individual node?

[2015-09-01 04:27] rmkraus commented on #9
It is probably best if this information is parsed on the fly. It won't be changing often so it probably doesn't need to be monitored. It also doesn't alter the way nodes are addressed or handled so it doesn't really need to be cached.

So, the REST call will live in the [Connection.py module](https://github.com/automicus/PyISY/blob/master/PyISY/Connection.py).

And then the [Nodes Class](https://g

[2015-09-01 04:30] rmkraus commented on #7
Good catch and thanks for the fix! Closing.

[2015-09-01 04:30] #7 closed

[2015-09-01 04:39] jimboca commented on #9
Great, that's exactly what I am doing, I have it working just need to do more testing.   BTW, what is the best way to iterate over nodes?  I thought I understood the __iter__ and how it worked, but the only way I could get everything was this:
[code]

[2015-09-03 22:17] jimboca opened #11 "A node whose parent is another node is not returned in allLowerNodes"
When calling nodes.allLowerNodes the nodes grouped under another node are not returned.  The insteon devices that contain multiple nodes can be grouped together by right clicking one and selecting 'Group Devices'

It looks like nodes need to be changed to contain children, but need to look into it deeper.

[2015-09-04 00:33] jimboca opened #12 "Support controllers and responders."
Currently only members are stored which are all contollers and responders.  We need a way to identify them.

The xml looks like:
[code]

Where 32 is a responder and 16 is a controller.

Ryan requested:

I would prefer to have the members array only be responders and then a new array called controllers be created. Good catch with that. Looking at that type number, I'd bet dollars to donuts that the

[2015-09-04 00:35] jimboca commented on #12
I'm wondering if the controller info should be also be pushed back to the controlling node, since a node can only control one scene.  For use cases these would seem to make sense because the calling program would likely be interested in what scene the node controls, if any.

[2015-09-04 07:23] rmkraus commented on #11
You are correct, this isn't supported. I think the best way to do that
would be to put all the modes on the same level. So if parent == node,
parent == parent.parent. That kind of logic

On Thursday, September 3, 2015, jimboca <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2015-09-04 07:26] rmkraus commented on #12
Let's not do that right now. It might be useful, but it would really slow
down boot up times. If a need emerges, then a new method could be
considered.

On Thursday, September 3, 2015, jimboca <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2015-09-05 22:40] jimboca commented on #12
Also, since a controller is also be a responder it seems like should stay in the members list, which is why I originally thought that the members list should just have the type included.

Let me know what you think. I already have the code done to change the members list so it is tuples of nid & type,but I can do it whichever way you prefer.

[2015-09-05 23:04] rmkraus commented on #12
That makes sense. Lets have members stay the way it is and add a list called controllers.

[2015-09-05 23:04] rmkraus commented on #9
Enhancement has been merged. Closing.

[2015-09-05 23:04] #9 closed

[2016-01-05 17:44] rmkraus commented on #12
Can this be closed now?

[2016-01-05 18:01] #12 closed

[2016-10-18 02:07] firegood opened #17 "KeyError: 0 Possible XML Parsing Issue?"
I did a PIP install of version 1.0.7 on a Raspberry PI Version 3. I am having an issue connecting to my ISY994 running 4.5.1

My Code:
`import PyISY`
`isy = PyISY.ISY('192.168.13.130','80','admin','admin')`
`print(isy.connected)`

The error:
Traceback (most recent call last):
  File "ISYInterface.py", line 8, in <module>
    isy = PyISY.ISY('192.168.13.130','80','admin','admin')
  File "/usr/local

[2016-10-18 02:11] rmkraus commented on #17
Out of curiosity, are your devices z-wave, insteon, or a mix of both? It
looks like you had a node on your network with no properties.

On Monday, October 17, 2016, firegood <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2016-10-18 02:15] firegood commented on #17
100% Insteon. I only have 4 devices registered to the ISY.

Where in the ISY would I look to confirm if I have a node with no properties?

[2016-10-18 23:46] firegood commented on #17
Additional info on this issue:
I factory reset my ISY using a paperclip in the reset button, once reset i was able to connect.
I then linked my 4 devices without doing any scene or program creation. Received error

Restored the ISY from the backup - Received error
Removed devices one at a time, all devices had to be removed before the script would connect
Linked one device - Received error. Remove

[2016-10-23 21:23] rmkraus commented on #17
Since you only have four devices, could you go to the following URL and paste the results here?
`
http://YOUR.ISY.IP.ADDRESS/rest/nodes?members=false`

[2016-10-23 21:25] rmkraus commented on #17
Also, this may or may not be related. But, I see you are using Python 2.7. This library isn't tested all that heavily on Python 2 anymore since it is going out of style pretty quickly.

[2016-10-24 12:38] firegood commented on #17
I was not aware that it was written for python 3, that is good to know. Here is the output you requested.

`<nodes>
<root/>
<node flag="128">
<address>29 63 29 1</address>
<name>Kitchen Lights</name>
<type>2.42.67.0</type>
<enabled>true</enabled>
<deviceClass>0</deviceClass>
<wattage>0</wattage>
<dcPeriod>0</dcPeriod>
<startDelay>0</startDelay>
<endDelay>0</endDelay>
<pnode>29 63 29 1</pnode>
<ELK

[2016-11-23 04:32] santosomar opened #18 "Potential security issues"
I ran bandit against PyISY and it looks like some of the code could be enhanced to avoid certain XML-based attacks.

   Severity: Low   Confidence: High
   Location: PyISY/PyISY/Climate.py:4
3	from time import sleep
4	from xml.dom import minidom
5
6
7	class Climate(object):

--------------------------------------------------

   Severity: Medium   Confidence: High
   Location: PyISY/PyISY/Climate.

[2016-11-26 20:07] #17 closed

[2016-11-28 23:50] rmkraus commented on #18
Hey Omar,

Thanks for posting the results of then scan. I appreciate the work that
went into doing this.

I looked over the vulnerabilities and I think they fall into three
categories:

1) Untrusted SSL cert- this was the only high that I saw. I could be wrong.
I don't think there is a good way around this one. All ISY's come with
certain that are not publicly signed. This means that the CA cert i

[2016-12-02 15:20] jimboca opened #21 "ISY MAC address shows up in main ISY group (scene)"
The latest versions if the ISY firmware, starting with 5.0.5 now add the ISY itself to the main ISY group:
[code]

This causes PyISY to die:

[code]

Since that device does not show up as a node anywhere else.   Should we just ignore group flag=12?  Or should we ignore a link in the group that is the same as the group address?

[2016-12-10 20:23] santosomar commented on #18
Hi @rmkraus !

This is a great analysis and definitely agree that the overall risk is low in most of these since the attack surface is reduced by the user only having this at home. One can argue that if there is another compromise system in the house it is a lot easier to use them as a stepping stone to compromise the ISY, but that a story for another day. I just wanted to bring it up to your atte

[2017-01-08 14:33] a466990-PDarbonne opened #23 "Python 2 vs 3"
Hello,

Maybe not an issue but thought I would mention.  Your code (great by the way!) v1.07 available via pip will not work properly on Python 2.7.9 - generates a traceback when executed.  The v1.0.7 **does** work properly on Python 3.4.2.

The earlier release available on your site v1.0.5 does work properly on both Python v2.7.9 and Python 3.4.2.

As I mentioned - perhaps intentional but after s

[2017-01-08 16:11] jimboca commented on #23
I run the latest version from github on 2.7 with no issues, so it must be related to some devices you have or has been fixed since that release. If you post the traceback I can take a look, or download the latest from github.

[2017-01-08 17:08] pdarbonne commented on #23
Thanks for the reply.  You may be correct that the issue is on my end.  See the below test I ran and then used pip to update to v1.0.7.  Also - I am running on a raspberry pi.

pi@raspberrypi1:~/Progs $ python ISY-TestPi.py

Connection to ISY is: True

PyISY                     - Python module to talk to ISY994 from UDI.
  INSTALLED: **1.0.5**
  LATEST:    1.0.7

**use pip to upgrade to the latest

[2017-01-08 17:16] rmkraus commented on #23
Thanks for the feedback. This was fixed in issue #17 and PR #20. The next time I push to PyPI, you should be able to run on Python 2.7 again. You could also pull from directly from Github to start using it now. I'm not 100% sure when I'll push to PyPI next, I've got some other projects I'm working on and then I have to make it back around to the PR's that are here.

[2017-01-22 18:32] ficklma1 opened #24 "ISY Version 5.06 or greater causing issues?"
@rmkraus - I just recently went from ISY version 5.04 to 5.08 and getting errors.  Will try to post exact error soon, but wanted to bring attention to possible issue.
Thanks

[2017-01-26 19:38] dethpickle opened #25 "Access to KeypadLinc LEDs through PyISY / HA?"
Ryan or others,

I'm trying to use PyISY through Home Assistant to control KeypadLinc LEDs (other than the first button) remotely and am coming up short.  Is it possible to do at all?  Going through the PyISY docs I can't tell if I should be able to or not.

In the ISY944, the KPL 8's and 6's have all of the buttons show up as individually addressable and you can make scenes for the LED's and thei

[2017-01-26 19:50] hoopty commented on #24
See #21 they have addressed this there.

[2017-01-30 11:24] Nuramori opened #26 "Error initializing."
When trying to start an instance, I get the following:

 isy = PyISY.ISY(ADDR, PORT, USER, PASS)
  File "/usr/local/lib/python2.7/dist-packages/PyISY/ISY.py", line 84, in __init                                                                            __
    self.nodes = Nodes(self, xml=self.conn.getNodes())
  File "/usr/local/lib/python2.7/dist-packages/PyISY/Nodes/__init__.py", line 73

[2017-02-05 20:21] dethpickle commented on #25
I've gone ahead an gotten around my issue by just creating scenes in the ISY for each KPL button.  Home assistant sees these scenes as switches which toggle the button lights on and off without the "pressing" of the button to make whatever action is attached to that button occur.

I still don't know why the ISY has this type of control over the KPL though and PyISY doesn't... that's the root of my

[2017-02-05 20:41] jimboca commented on #25
They can only be controlled in a scene.  If you select one in the isy admin console you can not control them, thus PyISY can not do it either.

[2017-02-05 20:41] #25 closed

[2017-02-06 02:06] dethpickle commented on #25
Thanks for the explanation! I didn't know the limitation.

[2017-04-26 23:08] OverloadUT opened #27 "No Groups show up in nodes due to "ignore controller group""
What is the purpose of this logic?
https://github.com/automicus/PyISY/blob/master/PyISY/Nodes/__init__.py#L168

I was trying to figure out why none of my scenes were showing up as Groups, and finally tracked it down to this issue. Every single one of my scenes has a family of 6, and I can't actually find a description in the ISY documentation that explains what `family` is meant to indicate.

[2017-04-26 23:41] jimboca commented on #27
What version​ of isy firmware are you running? This change was made for an issue in 5.x and should have been compatible with older versions, but looks like it's not.

[2017-04-26 23:43] jimboca commented on #27
Sorry, the reason it was added was because the ISY (or whatever you name it) was showing up as the first group before any devices so PyISY would crash since the devices in the group didn't exist yet.

[2017-04-27 00:00] OverloadUT commented on #27
I am on version 5.0.8

The better way to filter out the root object is to check the `flag` on the group for 0x08, which means `NODE_IS_ROOT`

However, now that I am looking at #21's commits, I can see that this IS how it was implemented. Looks like the check for family == 6 is from a change made 2 years ago to accomplish the same goal.

My recommendation would be to remove the `family == 6` check,

[2017-04-27 02:23] jimboca commented on #27
Can you give it a try? If not, I can try to look this weekend, if upgrading to 5.0.10 goes smoothly.

[2017-06-30 04:33] hoopty opened #28 "Exception in Nodes constructor (firmware 5.0.10)"
I'm getting the following exception on 5.0.10.  It started after I added a Fortrezz Mimo Lite device to the controller, it was working before that with locks, switches, and lamps.

[code]

[2017-07-01 17:46] hoopty commented on #24
@ficklma1 - is this resolved?   If so, can you please close the issue.

[2017-08-09 23:10] iDVB opened #30 "How to listen for FAST_ON and FAST_OFF events from light switches?"
I'm looking to extend the [home assistant ISY plugin](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/isy994.py) that uses PyISY to handle listening for **Fast On** and **Fast Off** events. Does PyISY handle this now, or would I need to dive in and try extending it as well?

[2017-08-10 01:34] rmkraus commented on #30
PyISY does not support this and it is not possible to listen for this event
via the ISY alone. This is not an event that the ISY reports through its
API.

On Wed, Aug 9, 2017 at 19:10 Dan Van Brunt <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2017-08-10 02:22] iDVB commented on #30
Fair nuff. Thanks for the reply.

[2017-08-10 02:22] #30 closed

[2017-08-16 04:50] boojew commented on #24
Fan controls no longer working - component ISY home-assistant/home-assistant#7902 is incorrectly associated with this issues

[2017-08-16 04:50] boojew commented on #21
Fan controls no longer working - component ISY home-assistant/home-assistant#7902 is incorrectly associated with this issues

[2017-08-16 04:50] boojew commented on #27
Fan controls no longer working - component ISY home-assistant/home-assistant#7902 is incorrectly associated with this issues

[2017-08-23 18:24] bing281 commented on #28
Can we merge this into a new version?

[2017-08-28 02:36] #21 closed

[2017-08-28 03:21] rmkraus commented on #28
This should be resolved in version 1.0.8

[2017-08-28 03:21] #28 closed

[2017-08-28 03:22] rmkraus commented on #24
Fan controls not working in Home Assistant is an issue with Home Assistant and not PyISY.
Version 1.0.8 of PyISY should have better support for version 5 firmwares.

[2017-08-28 03:22] #24 closed

[2017-10-31 19:48] kasperwire opened #32 "ISY fails to connect when ISY program or folder has no name."
When attempting to connect to component ISY994 if you have no name in a program or folder within ISY HA will not connect.  It will give you the following:

2017-10-26 23:35:58 ERROR (MainThread) [homeassistant.setup] Error during setup of component isy994
Traceback (most recent call last):
  File "/usr/src/app/homeassistant/setup.py", line 194, in _async_setup_component
    component.setup, hass,

[2017-10-31 20:04] adgelbfish commented on #32
should probably switch `.firstChild.toxml()` to `.data`, but I haven't tested it.

[2017-11-15 00:32] OverloadUT opened #33 "Adding event support"
Hi there!

I am working on a project for https://github.com/home-assistant/home-assistant to add support for receiving events from an ISY. Right now we use `PyISY` for all node updates, and it works very well for seeing and controlling the `status` of lights. However, it cannot be aware of when, for example, a human presses OFF on a lightswitch that was already off (or more importantly, when the u

[2017-11-15 01:17] OverloadUT commented on #33
Ah, I just realized that this should all flow through Nodes. At first I thought that these Control events would need to be something entirely new, but all Control events do indeed have a Node associated with them (because even remote controls have Nodes.)

So it makes sense to pass the Control events to the Node objects and handle the event there. However, I haven't dealt with event emitting in py

[2017-11-15 05:35] OverloadUT commented on #33
Update! I implemented this and it works perfectly so far. I'll get a PR up tonight so we can review the code and implementation approach.

[2017-11-20 22:23] OverloadUT opened #36 "Adding NodeDef support"
The 5.x versions of ISY now provide a "NodeDef" for all nodes, which is a way of indicating which commands a node is capable of sending and receiving. If PyISY exposed the NodeDefID and the contents of the associated NodeDef, consuming applications could understand which types of commands are valid for a given node.

In my specific use-case, this would allow Home Assistant to know which devices ar

[2017-12-08 02:31] #36 closed

[2017-12-08 02:31] #33 closed

[2017-12-08 02:31] #27 closed

[2018-03-19 16:04] shbatm opened #39 "Exceptions when loading nodes (Firmware 5.0.11c)"
Some ISY Node Server Nodes (e.g. n002_huegrp0) do not have a parent status and throw an error when processing groups during initialization.  I do not have the exact error traceback, but it amounted to something along the lines of "cannot compare type NoneType to type Int with >".

Apparent Fix:
Update `group.py` [line 83](https://github.com/automicus/PyISY/blob/master/PyISY/Nodes/group.py#L83) to

[2018-03-19 21:59] rmkraus commented on #39
Thanks for reporting. Are you able to put in a PR for this bug?

On Mon, Mar 19, 2018 at 12:04 shbatm <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2018-06-19 18:00] jimboca opened #41 "Node status returned as -inf"
Why would I see a node status as -inf ?

[2018-06-19 18:40] rmkraus commented on #41
It means that your ISY is not returning a value. This is typical of
wireless devices that have not reported a value since the last reboot of
you ISY.

On Tue, Jun 19, 2018 at 14:00 jimboca <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2018-06-19 19:47] jimboca commented on #41
Thanks Ryan, that would make sense, but this is an Insteon device, so I'll need to look into it deeper.

[2018-12-08 05:40] shbatm commented on #39
Confirmed fix in PR worked for me. Below is the trace log from my use in Home Assisstant:

[code]

[2019-01-17 03:54] #39 closed

[2019-03-01 20:09] rccoleman opened #45 "ISY fails to execute commands when busy"
I'm debugging an issue where some lights don't come on when I'm turning on a bunch at a time when I call the ISY from HASS.  It looks like the ISY is returning a 404 error when it's busy, based on my data and this thread: https://forum.universal-devices.com/topic/24970-need-help-to-interpret-the-isy-log/

In an attempt to make this more reliable, I added some retry logic to the request() function

[2019-04-11 14:26] mjcumming opened #47 "Updates"
I am having problems getting events from the ISY. I am able to connect to the controller and control a node from the PyISY. I do see events using the status.subscribe when I control the light from PyISY. However, I do not see any events when controlling the light locally or via the Admin console.

Code I am using below.

Any thoughts?

Mike

[code]

[2019-04-21 14:02] jimboca opened #48 "Crash on startup when ISY response is bad"
Should it retry instead of dieing?

[code]

[2019-06-14 23:13] mjcumming opened #49 "New Python package for ISY"
I was having trouble using PyISY to develop a MQTT client using the Homie Convention. I decided to start from scratch and wrote a new package to interface with ISY. Information is here. Need help developing support for devices and overall general testing.

https://pypi.org/project/ISY994v5/

[2019-06-28 05:43] shbatm opened #50 "Set Variable Value Re-downloads ALL variables instead of using auto_update"
When calling `setValue` [variable.py#L88](https://github.com/automicus/PyISY/blob/ff11c810d4ca874e3d0ea688d09707ef6997e1ed/PyISY/Variables/variable.py#L88) on a variable, there is:
 (a) `no return True` / `return False` like when calling [node.on()](https://github.com/automicus/PyISY/blob/ff11c810d4ca874e3d0ea688d09707ef6997e1ed/PyISY/Nodes/node.py#L237) or node.off() or program.run() etc. and
 (b

[2019-06-28 18:03] rmkraus commented on #50
I think I understand what you are saying and, unfortunately, I do not have much context here. It appears as if this code hasn't changed in the past 4 years so we are likely looking at most of the original code base here.

Regarding the auto updating from the event stream, this was one of the last original features I built. Everything else was programmed and then I went back to add the event stream

[2019-06-28 21:08] shbatm commented on #50
Thanks for the insight, that's kind of what I guessed.

Yes, this is mostly a performance issue I wanted to note and circle back later to fix if no one else gets a chance. I'm working on adding the ability to use Variables as sensors and switches in Home Assistant and noticed it.

The only error I get from it is occasionally the ISY will only return one of the two variable calls, which throws an e

[2019-07-18 21:51] altersis opened #51 "PyISY should process all status changes immediately after reception"
Automations that depend on ISY events sometimes take up to 25 seconds to trigger. This is specially evident for devices that emit one single event under normal circumstances. A good example is the Remote Linc 2 keypad; when configured to emit a DON-only on key presses, the ISY will send only a DON event. After only  5 or 6 seconds users start to think that the keypress is lost and will press on ag

[2019-07-18 23:13] altersis commented on #51
In-depth analysis of the code used to process incoming events from the ISY shows that the events.watch() assumes every data element inside an update from the ISY is delimited with a newline character '\n', which is incorrect: only the HTTP header is. Once a subscription is initialized, the payload of each update from the ISY to PyISY contains an XML document that is delimited by the <?xml> and the

[2019-07-19 01:01] shbatm commented on #51
Just an observation (reading sockets/streams is not my forte), it looks like EventsSSL already implements a 4 kb buffer but Events does not.

[2019-07-19 01:32] altersis commented on #51
Hey @shbatm, thankis for chiming in. This is one of those problems that are super tricky to find, I checked the EventsSSL, and although I cannot test it (I do not use SSL in my ISY) we'll most likely need to change the parsing to be done by XML tags as well. I exchanged a couple of messages with @OverloadUT and we'll do our best to chat tomorrow so I can understand the work already done to ensure

[2019-07-19 01:52] rmkraus commented on #51
Some historical context to this one.

Early versions of this library only contained Events. Some time later, I wrote EventsSSL using lessons learned from writing Events. As a result, EventsSSL is MUCH better, has better performance all around, and does fewer dumb things (like extending the socket base class because why is that necessary). I always wanted to rewrite Events to use the same code as E

[2019-07-19 02:24] shbatm commented on #51
@altersis: I agree with @overloadut's plan of getting your changes implemented ASAP. After that I'll work on getting them merged into my changes.

I did combine the two events classes in my PR (including removing the subclassing @rmkraus mentioned) but the one thing I didn't change was the difference in how ssl and non-ssl connections read from the socket. Mostly because I don't have a great under

[2019-07-19 15:36] altersis commented on #51
@rmkraus, @shbatm, @OverloadUT: thanks for getting involved. I would like to thank you for the work you've done on this, it's phenomenal! I tried enabling SSL on my ISY994, but count not make HASS connect using HTTPS:, it always pings the ISY with HTTPS, and then falls back to HTTP. I never got a certificate for the ISY, so I suspect this is the reason HASS cannot connect via HTTPS:

`2019-07-19 1

[2019-07-19 16:00] rmkraus commented on #51
1. I don't remember the exact reason, but it almost definitely had to do with the ISY passing in the degrees symbol when using the Weather module.
2. There are two exit conditions. 1) There is an unexpected socket error. This typically will mean the connection is gone and there is nothing left for us to read. 2) I asked for 4k of data and you gave me less than that. This means I have reached the e

[2019-07-19 16:09] jimboca commented on #51
While this work is being done are there any changes needed to support the chunked encoding method for ISY v5, which will become the default someday?

[2019-07-19 16:17] shbatm commented on #51
@altersis re: the '`.decode()`' function, IIRC I encountered this somewhere else upgrading an app from Python 2 to 3--it has something to do with Python 3 not automatically converting bytes to strings.

[2019-07-19 16:29] shbatm commented on #51
@jimboca -- I'll take a stab at including this in #44 so we don't hold up a fix for this.

[2019-07-19 17:30] altersis commented on #51
Thanks @rmkraus, I'll dig a bit more into the encoding based on @shbatm comment.  The only question that I still have is: why is it necessary to multiply the length of the new data by 8 to compare it with the 4096 bytes?

[2019-07-19 17:38] rmkraus commented on #51
I'm sorry, I missed that part of your question.

len(string) -> number of characters per string
8 -> number of bits per character
len(string) * 8 -> number of bits in the string
Then you compare that to 4096 bits

[2019-07-19 18:00] altersis commented on #51
Hmmm... I might be missing something here, but we just need to compare the number of characters in the string against the maximum number of bytes (4096 bytes or 4KB) in the buffer, no? that would be:
[code]
makes sense?

[2019-07-19 18:34] OverloadUT commented on #51
I share your confusion. Here's the chain of logic:
`socket.recv(4096)` -> This should give us 4 kilobytes (not bits)
`decode('utf-8')` -> From my understanding, this should give us a string with one character for every *4 bytes*. So those 4096 bytes have now turned in to 1024 characters
`len(new_data)` -> This should give us 1024 now, right?

Now that I've typed that out, shouldn't we be doing `if

[2019-07-19 18:45] OverloadUT opened #53 "[V3] Discussion: Move to websockets library"
I want to use this issue as a discussion thread on the merits and drawbacks of moving this library to use a Websocket library to abstract all of the websocket communication.

Here is one such library that looks pretty decent: https://pypi.org/project/websockets/

It requires Python 3.6, and wouldn't you know it, the next version of Hass will officially raise its minimum Python version to 3.6!

[2019-07-19 18:47] jimboca commented on #53
Please remember Hass is not the only place PyISY is used.  It's also used on ISY Polyglot Nodeservers as well, which could move to 3.6 but not there yet.

[2019-07-19 18:48] shbatm commented on #51
@OverloadUT yep now I'm confused too.

Looking at [this example](http://danielhnyk.cz/simple-server-client-aplication-python-3/) we can test the raw received data before decoding:

[code]

[2019-07-19 18:57] OverloadUT commented on #53
@jimboca Yep, that's one reason I wanted to start a place for discussion. Overall I agree with Home Assistant's approach to minimum Python versions (documented here: https://github.com/home-assistant/architecture/blob/master/adr/0002-minimum-supported-python-version.md )

Keep in mind that we would not be breaking already-shipped versions of PyISY. Under this proposal, it's likely that we would pu

[2019-07-19 19:02] rmkraus commented on #51
You cannot use sys.getsizeof. That returns the size of the data + all of Python's extra variable information.

Looks like you might be right. Although the Python docs do not specify, according to folklore, it appears that socket.recv does specify kilobytes. Easiest way to test would be to drop a pdb.settrace() in right after the socket.recv and run a len on new_data. Is it 4096 or is it 512?

I do

[2019-07-19 19:16] shbatm commented on #53
Sounds like a good path forward to me... I support moving to a more robust websocket package built by people with a better understanding of sockets than us, but I don't want to cause a huge wave of breaking changes for existing integrations until they're ready to make that move.

Re: ISYv5 support -- @jimboca I know Polyglot v2 / PGC uses MQTT to communicate back and forth to the node servers, but

[2019-07-19 19:21] shbatm commented on #51
OK RE: getsizeof.  I'll revert in my PR and use a comparison.

@OverloadUT -- Just FYI, found this tidbit when I was Googling around:

[2019-07-19 19:36] OverloadUT commented on #53
That's the critical aspect from my perspective. We're in the other thread trying to understand the number of bytes per character and how to check if a socket chunk has been completely read, and it just smacks of "why are you doing this yourself?"

But yeah, breaking compatibility should be done with care, and it should only be done in the context of fixing a bug or adding new support for something

[2019-07-19 19:38] shbatm commented on #51
Updated #52 to use `len` instead of `getsizeof` and reordered per post above to check size before any decoding is done.

@rmkraus was right, you get different values for `len` and `getsizeof` and `new_data` is pulled in as 4096 bytes:

[code]

[2019-07-19 19:39] altersis commented on #51
Gents, can I suggest a simpler approach?

the idea would be use the following in watch() immediately after the check for data:

                if self in inready:
                   try:
                     self.parent.log.debug('PyISY: data in buffer')
                     tmp_buff =  self._reader.read()
                   except socket.error:
                     self.parent.log.error('PyISY:

[2019-07-19 19:50] shbatm commented on #51
The concern I had about that was still using the stream reader--wouldn't it just continue to grow? (I'm not that familiar with Python's cleanup methods, but wouldn't this just continue to consume more memory the longer it ran? I could be way off base here.)

[2019-07-19 20:01] altersis commented on #51
Right, we want to avoid the file reader! We can change one line to tmp_buff = self.socket.recv(BUFFER_SIZE) where BUFF_SIZE would be 4096, and were good... I'll try it in a moment. I've had the above code with the reader working for 4 days now, no problems... I have around 100 insteon devices (including around 15 motion sensors)  and they generate a good amount of insteon events per minute.

[2019-07-19 20:04] jimboca commented on #53
@shbatm You are correct that in general Polyglot V2 & PGC do not use PyISY, but some nodeservers like my HueEmulator rely on PyISY socket connection to control the ISY since that can not be done directly thru Polyglot.

[2019-07-19 20:17] altersis commented on #51
sorry, i meant: tmp_buff = str(self.recv(4096))

just tried it and it gives the same results. I'm going to let it run and monitor it

[2019-07-19 20:20] shbatm commented on #51
If you did that, what happens when the message is bigger than 1 buffer (e.g. the initial event dump from the ISY), you wouldn't see `</Event>` in `tmp_buff` (or maybe you would only see the first one, I'd have to look at that initial dump again).

[2019-07-19 20:38] altersis commented on #51
@shbatm, you have a very valid point, and also saw that need to get add more data to the present buffer if the current message is incomplete. when i first tried it with the reader, the buffers were big and there was no trouble during the initial data dump, but now that I checked the logs using the plain socket.recv(), this code runs faster, so the buffer is less full. I'll spend a few minutes to w

[2019-07-20 02:36] altersis commented on #51
Hi guys, I think I have it working now, and the best is that I think this code already works for HTTPS and HTTP, although I have only tested it with HTTP.

                   try:
                     self.parent.log.debug('PyISY: data in buffer')
                     tmp_buff = self.recv(4096).decode("utf-8")
                     #self.parent.log.debug('PyISY: buffer: \n'+tmp_buff)

[2019-07-20 03:22] OverloadUT commented on #51
Excellent! Get a PR up and I'll start testing and reviewing it on my end, or if you want to use #52 I'll just wait for shbatm to update :)

[2019-07-21 02:27] rmkraus commented on #51
I really don't care for that. A socket reader should do just that, read sockets. I do not like the idea of building SOAP/XML logic that far down.

The logic should be:
1) wait for the socket to have data available (select statement)
2) Read data from the socket until there is no more data to be read (self.read)
3) parse the data from the socket (self._routemsg)

Any intermingling of that logic is

[2019-07-21 03:26] rmkraus commented on #53
My voice shouldn't be loudest as I'm not even using this right now, but.....

What issue would this change resolve?

On the surface, I'm not opposed to the idea. However, I am 100% opposed to solving problems that don't exist. #51 has been the first issue with the websocket code. It was fixed by porting the newer SSL code to the older plain text code. In the meantime we found another bug (the * 8

[2019-07-21 04:38] OverloadUT commented on #53
I completely agree with that question needing a solid answer before anything like this would happen. I wanted to start the discussion so that if in the future when a new feature, protocol change, big bug, or something else like that comes along, moving to a library to address it can be on the table with some thought already put into it.

[2019-07-21 17:53] rmkraus commented on #53
![image](https://user-images.githubusercontent.com/4956442/61594825-1a023900-abbe-11e9-9166-cca68c042b21.png)

That library looks good. After some though, I would even support moving to this library once [this guy](https://pythonclock.org/) hits zero. Somewhat contradicting my previous post, moving this library to asyncio would be a great move and this library would simplify that.

[2019-07-21 17:55] altersis commented on #51
hi there, sorry I was away yesterday. I had some family commitments that I simply had to attend. We have @shbatm 's code already there, so why not get that merged to put out the fixes? It solves the primary problems and buys time to keep the discussion open to get a much better long-term solution... makes sense?

[2019-07-21 18:07] rmkraus commented on #51
👍

[2019-07-21 18:33] OverloadUT commented on #53
Yeah, asyncio has been something in the back of my head. Home Assistant now has an [Integration Quality Scale](https://developers.home-assistant.io/docs/en/integration_quality_scale_index.html) for components and it's a dream of mine to get the ISY component to Platinum, which requires going completely async.

[2019-07-21 22:54] rmkraus commented on #53
I'm all for it. Those are all good guidelines they've put into place.

My opinion, unless there is a pressing need sooner, let's make that a January project as a farewell salute to Python 2. 🖖
Around that time, I should be moving into a new house to automate.

@jimboca - Does that timeline work well for your needs?

[2019-07-22 03:48] shbatm commented on #53
@overloadut I call "not it" on getting through Gold (web config + discovery), but I have started changing some of the functions to async calls ([isy updates branch](https://github.com/shbatm/home-assistant/tree/isy994-climate/homeassistant/components/isy994))

Just a note: I pulled down my PR from HA for now until the changes here are ready and I can split up those updates to HA. If you have any o

[2019-07-26 10:25] shbatm commented on #11
Bumping this.  This should be something we consider fixing in #44 or at least the next version.  I started looking at it.., one idea would be to check nodes for children when parsing through `allLowerNodes` but I think the entire `Nodes` class may need to be looked at to see if there's a better data structure (like a Dict) that can be used.

[2019-07-29 00:43] OverloadUT opened #55 "PyISY falls back to HTTP if the user specified HTTPS but connection attempt fails"
When testing #52 I ran in to a scenario that I think should be fixed:

If you specify `https://my.isy.address:80` (which is likely user error, as it's the non secure port but specified as https. I made this error when switching to https for testing), PyISY will attempt the connection, fail, and then attempt the connection with HTTP and continue onward for the rest of its session in HTTP.

I see th

[2019-07-29 01:05] rmkraus commented on #55
You are absolutely correct. This is an issue. No middle ground necessary. Nice catch! It should fail and log an error.

[2019-09-23 13:27] boojew opened #58 "Ability to send fade commands"
Is there any way to control the ISY's fade up/down events through this?

[2019-09-24 02:07] boojew commented on #58
Nevermind. See #59

[2019-09-24 02:07] #58 closed

[2019-12-16 20:51] #49 closed

[2019-12-16 20:52] #47 closed

[2020-02-24 02:49] shbatm opened #60 "Discussion: VarEvents vs. @property.setter Events"
Just curious what your thoughts are on staying with the VarEvents module for handling updates and events versus simplifying back to just using an @property.setter function to raise events and control updates.

VarEvents is nice, but I keep catching issues where there are type mismatches, or a need to access the underlying private `._val` because the type is not necessarily known. This also require

[2020-02-24 19:59] OverloadUT commented on #60
Personally I am fine either way. I've never really dug into the VarEvents functionality and what it gets us.

[2020-02-26 20:45] shbatm opened #61 "Re-enable warning for self-signed certificates"
Originally raised during review here: https://github.com/automicus/PyISY/pull/44#discussion_r380948181

Re-enable warnings for self-signed certs:
https://github.com/automicus/PyISY/blob/58b477038d0be5ff0c3338265827cc81eca0674c/PyISY/Connection.py#L30

[2020-02-28 17:26] shbatm commented on #60
I messed around with what it takes to remove the VarEvents dependency today and have a working version for testing with Home Assistant here:
- https://github.com/shbatm/hacs-isy994/tree/PyISY_native_events
- https://github.com/shbatm/PyISY/tree/native_events (requires local install with `pip install -e ./`)

This is built on the current PyISY-beta branch and also removes the Climate module as disc

[2020-02-28 17:54] jimboca commented on #60
VarEvents handles the change notifications, right?  So as long as I can still subscribe to changes then I'm ok with it
```node.status.subscribe('changed', self.get_all_changed)```
I have it on my todo list to convert my hue-emulator Polyglot to your beta branch, but I haven't gotten to it yet.

[2020-02-28 18:41] shbatm commented on #60
@jimboca Yes, you still subscribe to the changes. The method changes slightly, but it uses the same structure as the existing `control_events` subscription:

[code]

[2020-02-28 18:51] jimboca commented on #60
Then it sounds fine to me.  I only use node.status for checking brightness level.

[2020-03-02 02:59] shbatm opened #64 "[v2] Setup Continuous Integration or Bot for Maintaining Standards"
[v2] Setup Continuous Integration or Bot to force things like Black Formatting, Linting, and Import Sorting.

Note: Linting will have to wait to be enforced until all currently planned changes are merged for V2, since some upcoming changes are required to get the current code into conformance.

Home Assistant Integration:
- https://developers.home-assistant.io/blog/2019/07/31/black/

[2020-03-03 03:53] shbatm opened #69 "[V2] New nodes added in the ISY require restart of module."
Right now an error is logged and message ignored if a new node is added to the ISY after the initial connection is made to the event stream.

This module should support live adding/removing of nodes from the ISY (especially with the move to ISYv5).

It shouldn't be too hard to implement, but would probably be best after moving to asyncio (or similar for true async comms -- see #53). I'm thinking i

[2020-03-14 23:51] shbatm commented on #64
Added commit https://github.com/shbatm/PyISY/commit/c7f176e501a60647c0283454acbd18cd564e37c1 to my beta branch with a `pre-commit` configuration.

This will be added to a V2 PR once the outstanding PRs are progressed (to avoid merge conflicts).

[2020-03-15 22:32] shbatm commented on #53
Tacking on -- if we move to a websockets library we should also move to an async library for making the REST requests, for example [aiohttp](https://github.com/aio-libs/aiohttp).

[2020-03-26 01:26] mkohanim opened #82 "Connect through ISY Portal"
Hi shbatm,

Is it possible to use this library against ISY Portal?

Thank you.

[2020-03-26 01:29] OverloadUT commented on #82
Currently this module only supports talking to the ISY directly. I am not aware of any plans or requests to have it go through the ISY Portal yet.

The main (but not only) users of this module is Home Assistant, and in Home Assistant there is a very large focus on maximizing local communication whenever possible to keep dependencies off of the cloud, so I would be surprised to see anyone asking fo

[2020-03-26 02:01] mkohanim commented on #82
Hi OverloadUT,
Yes. The reason is that the only difference is the host:port, the base url, and username/pwd. Everything else identical to connecting to ISY directly.

[2020-03-26 02:12] OverloadUT commented on #82
Ah! Well in that case I don't see any reason it wouldn't work! We're certainly not doing anything on purpose to prevent it. It's something we ought to test to confirm!

[2020-03-26 02:45] mkohanim commented on #82
That would be great Greg. Do you have an ISY Portal account?

[2020-03-26 02:51] OverloadUT commented on #82
I've got an account (same user as here, but @gmail), but the license is expired at the moment. I need to go upgrade my ISY firmware as well, which has been on my to-do list for a while :)

[2020-03-26 03:01] mkohanim commented on #82
Please send me your uuid and I will extend it for you and anyone else who can fix this issue.

[2020-03-26 03:15] jimboca commented on #82
This is now working, the user didn't have the preferred ISY set.

[2020-03-26 03:31] mkohanim commented on #82
This is excellent news! Thanks so much.

[2020-03-26 04:14] arrowstem commented on #82
Hello, just to add more details, I was the guy who tried (and couldn't) connect to ISY portal using PyISY code

isy = PyISY.ISY(ADDR, PORT, USER, PASS, HTTPS)

with proper arguments passed to it. As it turned out, the reason it failed to connect was that I didn't have a preferred ISY set (even though I only have a single ISY under my username, so I'd think it would be my preferred ISY by default).

[2020-03-26 08:24] shbatm commented on #82
@mkohanim - just thinking about future use cases for this: is there anything in the Portal REST protocol for determining which ISY to use?

I'm thinking about if someone has multiple ISYs tied to a single portal account, how would this module be able to differentiate between them?

[2020-03-26 08:30] shbatm commented on #82
@arrowstem glad you got it working. I'll look at the error message... Right now the module tests the connection by calling an invalid REST URL ('/rest/ping`) just to see if it gets a 404 error (valid connection, invalid url) or something else. It should probably call (`/rest/status`) to provide some more useful info (@OverloadUT, one of the last 2 PRs includes a change to allow connection testing

[2020-03-26 15:31] jimboca commented on #82
Currently this is based on the login credentials, different user (email) for each preferred ISY, and if you don't want a unique email you can use to + like username+somestring@gmail.com for each one.

[2020-03-26 15:40] mkohanim commented on #82
@shbatm , thanks so very much! Please note that the only reason you need Preferred ISY is for cases (such as MobiLinc and apparently PyISY), where you do NOT define the base URL during the connection. Each ISY has a full path in ISY Portal. So, if you allow the based URL path to be defined during connection (instead of /rest/ping), then the only failure would be authentication. So, my.isy.io:443,

[2020-03-27 10:21] shbatm commented on #82
@mkohanim Thanks for the suggestion. Added a `webroot` parameter to some upcoming connection changes for V2. Connection details will be:

[code]

[2020-03-27 13:17] shbatm commented on #82
Still having issues connecting to the event stream over the portal. What is the subscription endpoint? Is it `/isy/<<myisyaddr>>/services` or something different?

[2020-03-27 15:45] mkohanim commented on #82
@shbatm , websockets don't work on the Portal. If you are not using websockets, then the URL and everything else should be identical to how you do it on ISY (with the exception of webroot).

[2020-03-27 16:54] shbatm commented on #82
I got it working -- PyISY still uses SOAP for the event stream, but it looks like there were some format updates needed to the connection content. The ISY itself seems tolerant to the formatting differences, but the Portal is not.

@arrowstem - This should be working now in `pyisy-beta=2.0.0.dev151`.

@OverloadUT - I've got the changes staged for one of the next PRs you'll see for V2. I had alread

[2020-03-27 17:19] mkohanim commented on #82
@shbatm , this is wonderful news. Thanks SO very much.

[2020-03-28 15:12] arrowstem commented on #82
@shbatm , thank you for the update. I installed pyisy-beta=2.0.0.dev151 but now I have another issue with my code. I must mention that I'm using Python 3.7 with Anaconda under Win10. Hope this configuration is supported. My code:

[code]

which worked before (up to pyisy-beta=2.0.0.dev146), now produces an error:

Traceback (most recent call last):

  File "[...]\isy_interface.py", line 46, in <mo

[2020-03-28 16:32] arrowstem commented on #82
To double-check it under a different environment, I made a clean installation of pyisy-beta-2.0.0.dev151 on a Linux server and ran the same test code. Here's the error I've got (a different one, as it seems):

[code]

[2020-03-28 17:15] arrowstem opened #83 "poorly formatted XML error"
I'm running PyISY's current version (1.1.2) under Ubuntu in a simple test code:
[code]
It prints:
[code]
Could you advise where I should look for that XML at ISY Portal - or elsewhere?

[2020-03-28 17:16] shbatm commented on #82
I'm wondering if this has to do with Linux vs Windows python: please try changing `super(Program, self).__init__(` to this: `super().__init__(` on Line 75 of
`"C:\ProgramData\Anaconda3\lib\site-packages\pyisy\programs\program.py"`.

Let me know if that fixes it an I'll make the change.

What version of python did you run this 2nd test on? Looks like it may be something < Python 3.6.

[2020-03-28 17:20] shbatm commented on #83
That's a valid URL (try pasting `https://my.isy.io:443/rest/vars/definitions/1` in your browser and logging in with your Portal login), but do you have any integer variables defined in your ISY? That's been an issue before (although it was with the NodeJS version) if you don't have at least 1 variable defined of each type.

If you can access that page, paste the results here.

[2020-03-28 17:35] arrowstem commented on #82
Yes, it's Python 3.5 under ubuntu. Should I upgrade it to 3.7?

[2020-03-28 17:55] shbatm commented on #82
@arrowstem yes, at least to 3.6. The `f`-strings weren't introduced until 3.6.

Let me know if the other change fixes the issue on windows.

[2020-03-28 18:04] arrowstem commented on #82
I did change the code to super().__init__(...) on Line 75 of program.py and ran it under Windows, here's what I've got:

[code]

[2020-03-28 19:14] shbatm commented on #82
Strange, something is not loading correctly when it's trying to get your list of programs.

Would you mind:
1) Creating a separate issue for this on my [beta branch](https://github.com/shbatm/PyISY/issues) since it's broken on the beta version and not related to this original issue.
2) Post there, Slack DM, or e-mail me your `programs.xml` file (https://my.isy.io/rest/programs?subfolders=true) --

[2020-04-11 20:01] OverloadUT opened #90 "Next steps for v2 release"
@shbatm - let's use this GHI for next steps on v2 release.

As far as I understand, we're ready to merge v2 to master! Is there any reason we shouldn't do that right now?

On the Home Assistant side, how ready is the HACS version of the component for submitting the PR? Anything I can do to help?

[2020-04-11 21:16] shbatm commented on #90
Just sent one more small PR to clean-up some error handling from a few recent issues. I think everything I have is ready for merge into `master` for this repo after that, unless you want to keep them on separate branches (if you ever intend to push any updates to V1).

The HACS version is going to be interesting to get merged into Core based on my previous experiences with PRs for Home Assistant--

[2020-04-12 00:13] OverloadUT commented on #90
Yep, I can review the code on the home-assistant side, so that should help a lot. I'll want to have one of the main reviewers sanity check it after my approval but me doing the first pass will make that much more likely to happen quickly.

Sometimes there's not much helping a monolithic PR, especially when the upstream dependency has changed so dramatically.

I can help with the rebase for the PR

[2020-04-12 02:17] shbatm commented on #90
Ok good knowing at least I'll have some help working it though. I still think it's going to be a monolithic inital PR, but there's a couple pieces that can be pulled out and done separately without too much trouble: Variables and Climate (TStats not ISY Module) are two easy ones to separate and do as follow ups.

Once you publish a V2 package I'll get everything cleaned up and ready on the HACS si

[2020-04-12 21:32] shbatm commented on #90
Another issue popped up that looks like it only really applies to trying to use multiple ISYs with one instance of the PyISY module -- sent a PR (#92), but please let me know if you see any other ramifications of not using Class variables--everything seems to be working fine in the testing I did--I was able to add two instances of the ISY to Home Assistant without incident (with some hacky tempora

[2020-04-29 20:25] shbatm commented on #90
@OverloadUT - just checking in, what's your plan/timing for releasing V2 to PyPi? I'm about to be stuck in a hotel under work quarantine for 5 days and plan on working on the main PR for Home Assistant. Didn't know if you were waiting for me here or not.

[2020-04-30 16:24] OverloadUT commented on #90
@shbatm It fell off my radar; thanks for the bump :(

I'll try to merge it today in between meetings!

[2020-04-30 20:04] shbatm commented on #90
Sounds good. No rush, was just checking in. I sent one last PR the other day too, just for completeness and to take some credit in the README.

[2020-05-02 19:12] OverloadUT commented on #90
Alright, I'm pulling this all down locally and getting ready to do the merge and release. Since you're online, speak now if you have any last minute objections!

[2020-05-02 19:22] shbatm commented on #90
Ha! No. I'm done finding issues I promise /s.

I think it's in a good spot. Once merged you should be able to close a whole bunch of issues and PRs, then If something else crops up we can manage the issues with a relatively clean slate and I can stop managing it in two repos.

[2020-05-02 23:06] #82 closed

[2020-05-02 23:06] #11 closed

[2020-05-02 23:06] #50 closed

[2020-05-02 23:23] OverloadUT commented on #90
Alright, we're up on https://pypi.org/manage/project/pyisy/release/2.0.0/ !!

When you get a chance, could you test with your HACS version to ensure everything made it through the packaging process correctly? I'll prep a GitHub release and mark it as pre-release for now

[2020-05-02 23:42] rmkraus commented on #90
Nice work! 🐿

On Sat, May 2, 2020 at 19:23 Greg Laabs <notifications@github.com> wrote:

--
Thanks,

Ryan Kraus

[2020-05-03 12:06] shbatm commented on #90
Released 1.4.1 on HACS using the pre-release last night. Working fine so far. Starting to draft a migration plan to HA Core today. Will post here when I have something.

[2020-05-03 12:10] shbatm commented on #69
Just a note: I'll leave this open for now since it'd still be nice to support natively, but at least on the Home Assistant side: https://github.com/shbatm/hacs-isy994/releases/tag/v1.4.1 adds a reload service which can be called to refresh the whole module and pickup new nodes without a full restart.

[2020-05-03 12:11] #60 closed

[2020-05-03 12:15] shbatm commented on #90
Looked back through the issues/PRs still open here, I think you can close everything except #61, #64, #69 and this one.

[2020-05-03 13:52] shbatm commented on #90
## Draft Migration Plan
Here's my draft plan for merging [hacs-isy994](https://github.com/shbatm/hacs-isy994) & PyISYv2 into Home Assistant Core.

I have it broken up into 7 PRs to help with reviews.

1) Structure updates in prep for PyISYv2 Part 1.
    - Target no breaking changes in this PR.
    - Move constants to separate file.
    - Use Home Assistant Constants where possible.
    - Use strin

[2020-05-03 14:42] bdraco commented on #90
Seems fine to me.  Keep in mind that there needs to be tests for the config flow.

[2020-05-03 14:54] shbatm commented on #90
There needs to be tests for the ISY integration in general. But I have absolutely no idea how to write a python test platform. All I've ever done with them is some minor tweaks, never had to start from scratch.

As far as how to test the ISY: I've used the [fake-isy-994i](https://github.com/rodtoll/fake-isy-994i) NodeJS module quite a bit to give mock connection and response results. It's basicall

[2020-05-03 15:14] bdraco commented on #90
The general idea is that home assistant should know as few implementation details as possible and most of the tests should be in the library (PyISY).  Home Assistant tests should really be more about making sure we create the entities correctly and interact with the library correctly.

[2020-05-03 16:33] shbatm commented on #90
OK. I think adding tests to PyISY can be deferred for now. ;) we'll have to come up with something for the config_flow. I'll need some help when we get there.

Starting to stage commits based on the plan above [on this branch](https://github.com/shbatm/home-assistant/tree/isy994_v2_upgrade/homeassistant/components/isy994) so you can see how big the PRs are going to be.

[2020-05-03 16:48] bdraco commented on #90
That seems consumable.  I think you were correct the first round when you said  `Rename "domain" to "platform"` `SUPPORTED_PLATFORMS` makes the most sense here given

https://developers.home-assistant.io/docs/creating_platform_index/

[2020-05-03 17:17] shbatm commented on #90
I've stewed on this for two days. Here's my assumed model, based on everything I could find in the developers site, on the forum, what we talked about the other day, and how the code is actually set-up in the dev branch now:

INTEGRATION DOMAIN = ISY994, the "hub" platform.
COMPONENT = HA's "top-level domains" - Light, Fan, Switch, Lock, Cover, etc.
PLATFORM = The integration's implementation of a

[2020-05-03 17:24] bdraco commented on #90
I realize there is quite a bit of contradiction and its inconsistent so I've taking the approach to scrub anything that says `component` since that is the old way of referring to `integrations`.

[code]

[2020-05-03 18:02] shbatm commented on #90
Reverted. 2nd Commit Updated too.

[2020-05-04 00:40] shbatm commented on #90
@OverloadUT Got some issues...

1) Capitalization is messed up with the new package on Windows machines (top is Linux install, bottom is Windows). Note the folder capitalization for both the site-package folder and folders inside the package.
![image](https://user-images.githubusercontent.com/18057952/80929958-aa88bf00-8d75-11ea-8797-84ee062b2e4b.png)

2) `Climate.py` still exists and did not get

[2020-05-04 14:28] shbatm commented on #90
All 9 PRs have been staged. Links above. Sometime today I'll open the first one on HA Core. Can do the first two without fixing the package issue.

[2020-05-04 17:51] OverloadUT commented on #90
Ah ha, I suspect the error is indeed caused by not ensuring my slate was clean before doing the packaging. I'll re-run it from a hard reset and see how it goes. I'll publish it as 2.0.1 and yank 2.0.0 from PyPi

[2020-05-05 00:18] jimboca commented on #90
I hadn't noticed the Capitalization issue mentioned by @shbatm and now I have that issue on my RPi with Python 3.7:
[code]
So my "import pyisy" is failing.

[2020-05-05 00:50] OverloadUT commented on #90
Yep, I'm sure this is caused by the fact that I bundled this on Windows, which is less (not at all) strict about capitalization. I am going to blow away the whole folder and do a hard reset and release again. Should be able to scratch away enough time tonight to do that

[2020-05-05 06:51] OverloadUT commented on #90
Okay, version 2.0.1 has been released. This time everything looks good to me! I yanked the release from PyPi since it was broken, and on GitHub I left a stub of the release but pulled the package

[2020-05-05 16:10] jimboca commented on #90
Doesn't seem to work for me?
[code]

[code]

[code]

[2020-05-05 16:37] OverloadUT commented on #90
I am so sorry for these troubles. I just looked in to this, and I see that the contents of the .whl file seems to have the old data, while the "sources" file has the corrected version. I have no idea how that's possible, as both of these were generated simultaneously from the same command. I need to do some research to better understand what the .whl file is. I admit that I am not aware of what th

[2020-05-05 16:43] OverloadUT commented on #90
As a temporary solution, I have simply deleted the Wheel from PyPi, which will cause it to fall back on the traditional sources archive. This fixes the issue based on my local testing.

You may need to add `--no-cache-dir` to your `pip install` command one time to have it not grab the cached Wheel

[2020-05-05 17:15] jimboca commented on #90
It still seems to be grabbing the .whl ?

[code]
[code]
[code]

No rush on the fix, just let me know when you want me to try anything.  I'm not an expert in PyPi eggs and wheels either...

[2020-05-05 17:26] shbatm commented on #90
@OverloadUT make sure you delete the `build` directory before running `bdist_wheel`.

[2020-05-05 17:36] OverloadUT commented on #90
Hm, it looks like you're getting the wheel from a mirror, not directly from PyPi. It's probably safest for me to just push a 2.0.2 to eliminate any caching/mirroring issues.

And yeah @shbatm, I believe that's exactly the issue. I'll repackage as 2.0.2 later today

[2020-05-06 00:30] shbatm commented on #90
I would have bet a lot of money it would be me that caused us to have to re-issue the first release and lose 2.0.0 ;)

[2020-05-06 17:38] OverloadUT opened #96 "Feature: Publish to PiPi via GitHub Actions"
We can set up GitHub Actions to publish to PyPi. Doing this would have avoided the issues I caused with the 2.0.0 and 2.0.1 releases, which were both due to local environment issues.

[2020-05-07 15:54] OverloadUT commented on #90
2.0.2 is now up on PyPi. They really truly seem to be correct this time!

[2020-05-08 03:55] jimboca commented on #90
Yes, 2.0.2 looks good, now to test my hue emulator for the ISY that @shbatm helped to update.

[2020-05-08 14:38] shbatm opened #98 "Identifying nodes with no ST property"
Need a method and key value to identify nodes that do not provide a `ST` status property.

These currently report `ISY_VALUE_UNKNOWN` but this could be a valid condition for some Z-Wave and NodeServer nodes and these will have valid and active `aux_properties`.

See https://github.com/shbatm/hacs-isy994/issues/34 for an example.

My thought is to add a `ISY_STATE_NOT_USED = float("inf")` as the in

[2020-05-08 14:40] shbatm opened #99 "Add Last Updated Property to Nodes"
Add a `last_updated` property to the nodebase class to allow detection of stale values.

[2020-05-13 17:03] shbatm opened #103 "Best Practices: Update the init function to get /desc instead of /ping"
Adding this as a TODO for later:

Currently on connection, the module requests the `/ping` end-point to see if the ISY responds. This isn't an actual endpoint for the ISY, so it responds with a 404, but you know it's there.

To avoid an otherwise "wasted" call -- this should call the `/desc` end-point, which provides useful information about the ISY. This would also avoid the need for an initial c

[2020-05-15 21:29] #98 closed

[2020-05-15 21:29] #99 closed

[2020-05-19 08:22] shbatm opened #107 "[V3] Update to use async functions (asyncio+aiohttp)"
Started playing with converting this module to use asynchronous functions for loading and eventually handling socket communications. Opening this issue for discussion and testing comments.

@bdraco - It's on my `async` fork here: https://github.com/shbatm/PyISY/tree/async/pyisy if you want to play around with it.

Currently the only thing implemented as async is the initialization sequence. Loadin

[2020-05-20 00:29] bdraco commented on #107
If you create an ssl context (a default one) and reuse it, does it perform any better?

The use case I can really dig in and test is the turn all the lights on/off and see how fast it takes to do ~130 lights.

[2020-05-20 01:31] shbatm commented on #107
I will re-test when I get a chance tonight, but it is using a single SSL Context. I've bounced back and forth between assigning the context to a TCPConnector when creating the ClientSession and assigning it in the request call itself (which is the now-preferred method, the other gives a depreciation error)--didn't see a big difference.

Interestingly, if I don't place any limits or semaphores on t

[2020-05-20 16:18] jimboca commented on #107
While developing Polyglot https://github.com/Einstein42 spent a lot of time determining how much it could pound on the ISY, I think he currently limits the number of sessions, and in Polyglot 3 he is implementing a queue with throttling, so it may be good to discuss with him what he has found.   If a user has busy Polyglot Nodeservers running, along with PyISY both pounding on the ISY they will ha

[2020-05-21 05:26] shbatm commented on #107
@jimboca Thanks for the heads up. I'll hit him up on Slack, I also dug into the Polyglot code some more as well as the ISY994v5 PyPi module.

I made some tweaks and currently have everything initializing in ~8.5s `HTTP` and ~13.5s `HTTPS` with 5 concurrent connections for `HTTP` and 2 for `HTTPS`. That seems to be the happy place right now. I also enabled chunked mode for `HTTP`, but it's disabled

[2020-05-22 00:56] bdraco commented on #107
[code]

So it appars `aiohttp` always thinks the connection is closing due to the isy ending an empty packet at the end of the response.  This breaks http keep alive.

[2020-05-22 01:11] bdraco commented on #107
It appears the isy sends

[code]
..and then promptly drops the connection even though it specifies keep alive

[2020-05-22 01:15] bdraco commented on #107
https://forum.universal-devices.com/topic/6032-trigger-a-program-from-an-ip-camera/?tab=comments#comment-47621

[2020-05-22 01:15] shbatm commented on #107
Just found this: https://forum.universal-devices.com/topic/6032-trigger-a-program-from-an-ip-camera/

I will try adding an explicit Keep Alive header and see if that helps

[2020-05-22 01:15] shbatm commented on #107
Lol.

[2020-05-22 01:27] bdraco commented on #107
https://github.com/bdraco/PyISY/commit/e4902a1c10f63096af841e7d3ee778322781e449

This is working for me

[2020-05-22 02:34] shbatm commented on #107
Updated here https://github.com/shbatm/PyISY/commit/0896a07e142ef03ab4394afe2fe50891b93b5bb2

Between Keep-Alive and strategically ordering the requests, this shaved another 1-2s off connection time. 7.5s and 12s for `HTTP` and `HTTPS` respectively for me over a ZeroTierOne link.

[2020-05-22 06:49] bdraco commented on #107
We should probably look for ClientOSError and if it’s a not ready for writing then we know isy dropped the keep alive and not log since this isn’t an unexpected error .   This is technically rfc compliant as the server is allowed to drop the connection between reading and writing at request and the client is supposed to reconnect and retry.

Also we probably need to go back to the semaphore since

[2020-05-22 08:13] shbatm commented on #107
Dragging #53 into this. Now with websockets!

@bdraco - I don't think passing in the hass ClientSession will be an issue with insecure connections; the only modification I'm making in the modules default is to set connection limits; but I really haven't seen any issues without them set for `HTTP`.  For `HTTPS` we do need to set both the pool limits (could be done w semaphore) and the sslcontext (c

[2020-05-22 08:42] shbatm commented on #107
Updated here: https://github.com/shbatm/PyISY/commit/317013170951f2b2114bb1394fd88d5a38d03620

Moved to semaphore and setting the sslcontext on the request call instead of the Client connector. Negligible drop in performance (~.2-.3s for HTTPS).

Websockets seem to be working, but please beat it up when you get time.  MUCH simpler code than the old socket connector.

[2020-05-22 11:53] shbatm commented on #107
Question on moving to async in general -- should this:
1. Be forked from the original synchronous code (e.g. add an `aioisy` package--still under the automicus org)?
2. Maintain sync and async options together (e.g. instead of making all control functions async, add them as `async_{command}` and update the sync functions to schedule/wait for futures)?
3. Just go for it and make it an async library

[2020-05-22 14:30] bdraco commented on #107
My preference is #3   We can always bump the version number to 3.x so anyone who still needs the sync code and use the older 2.x packages.

[2020-05-22 17:08] jimboca commented on #107
Agree that 3 is the best, and make it version 3.x and keep a branch with version 2 for a while for any potential bug fixes.  I've converted my nodeserver but just haven't had time to test it on my production setup.  Hopefully next week...

[2020-05-22 17:36] bdraco commented on #107
I was thinking of catching them separately since we still want to log the other errors

[2020-05-23 01:53] shbatm commented on #103
Closing this.  Changes being made for async #107 will use `/config` as the test endpoint. This end-point requires a login (`/desc` doesn't), so this is a single call to accomplish two things: test connection and validate credentials.

[2020-05-23 01:53] #103 closed

[2020-05-23 09:19] shbatm commented on #107
I agree with # 3 and 3.x release. That's how I had already started drafting the changelog actually.

Pushed several additional updates for testing. Also have the beta package available for testing here: https://pypi.org/project/pyisy-beta/3.0.0.dev4/

@bdraco: whenever you want to test https://github.com/shbatm/home-assistant/tree/pyisy_async

A couple notes on the HASS front:

- Seeing some socke

[2020-05-23 18:15] bdraco commented on #107
It could always be added as a disabled entity by default
https://developers.home-assistant.io/docs/entity_registry_disabled_by/#integrations-setting-default-value-of-disabled_by-for-new-entity-registry-entries

That way its not filling up the DB with state changes.

[2020-05-23 18:18] bdraco commented on #107
Ended up with a new unexpected zwave sensor as a light
[code]

[2020-05-23 18:20] bdraco commented on #107
All the delays turning on light groups are no longer noticeable!

[2020-05-23 18:23] bdraco commented on #107
Turning on all the light is down to 79s

[2020-05-23 18:29] bdraco commented on #107
Tested with all the pico remotes I have linked and everything is perceived to be instant now.

Nice work @shbatm !

[2020-05-23 19:55] shbatm commented on #107
This is from calling `/status` now before loading. I need to tweak the sorting, I think they should be getting added as binary_sensors since we don't have any idea how to control them (applies to node servers too). The service calls can be used if a user knows it can support a command.

Agree. My other thought is to just pull the heartbeat time off.

Any idea why it isn't being unloaded cleanly wh

[2020-05-23 20:01] Steve9F opened #108 "isy994.send_node_command query fails w/ query() got an unexpected keyword argument 'node'"
From Home Assistant 0.110.1 (hassio) running on a Raspberry PI

Receive an error when calling the isy994.send_node_command service with command 'query' (works for other commands).

From developer tools / services
  service: isy994.send_node_command
  entity_id: light.media_room_front
  command: query

Logger: homeassistant.components.websocket_api.http.connection.1748884336
Source: components/isy9

[2020-05-23 20:46] shbatm commented on #108
This has already been fixed and will be picked up in the next release

https://github.com/automicus/PyISY/blob/69553057ceac57a6b4300c0070ee4ff163681750/pyisy/nodes/nodebase.py#L315

(I thought it had been picked up in 2.0.2 but I guess not)

[2020-05-23 23:38] bdraco commented on #107
Looks like the websocket isn’t quite stable yet.  I haven’t had a chance to see why

[2020-05-24 01:01] shbatm commented on #107
Let me know if you find anything. May need to implement a more rigorous watchdog. The TCP Socket uses the heartbeat to catch a stalled socket; I haven't implemented that in the websocket yet.

I'll also have to go back to [isy-js](https://github.com/shbatm/isy-js) and try and remember how the guardian works, if any different than the HB. I use that module for my MagicMirror and it runs for weeks a

[2020-05-24 01:53] bdraco commented on #107
It unloaded cleanly for me.  I'll try to find some time and dig though the code tomorrow.

[2020-05-24 01:58] bdraco commented on #107
Assuming the websocket is running in the event loop all the `schedule_update_ha_state` calls and change to `async_write_ha_state` which will make updates faster

[2020-05-24 02:00] bdraco commented on #107
Nothing stands out as an issue with the new binary sensor

[2020-05-24 02:15] shbatm commented on #107
OK. Thanks for looking. Re: Websocket persistence, implemented a combination of what the TCP Socket used and what is used in isy-js:

https://github.com/shbatm/PyISY/commit/27573548dc0b9da3a69ecbe6aaba3d79f952d852

Runs a parallel task to wait for the promised HB time from the ISY and reset if it passes. I don't think the ISY uses the PING PONG structure of a normal websocket, so it's not catching

[2020-05-24 03:29] bdraco commented on #107
Getting this with the latest pull

`2020-05-24 03:25:41 ERROR (MainThread) [custom_components.isy994] Failed to connect to the ISY, please adjust settings and try again.`

Digging in now

[2020-05-24 03:33] bdraco commented on #107
[code]

[2020-05-24 03:35] bdraco commented on #107
Worked after a restart.

[2020-05-24 07:12] shbatm commented on #107
Latest version fixes the websocket task dying without the reconnect function working.

[2020-05-24 14:17] bdraco commented on #107
I had another random startup failure, restarting fixed it (didn't have this one in debug mode unfortunately)

[code]

Will post more details when it happens again in debug

[2020-05-24 14:20] bdraco commented on #107
[code]
Adjusted block to something like this.

Probably the second one should raise `ConfigEntryNotReady`, but don't want to do it yet to track failures.

[2020-05-24 22:39] shbatm commented on #107
You're hitting a timeout error on one of the requests (`HTTP_TIMEOUT = 15`), but it's not retrying for some reason. I'll investigate tonight.

[2020-05-25 02:34] shbatm commented on #107
Revised the connection error handling: https://github.com/shbatm/PyISY/commit/d22b85f88e0ccdcef8fec31fadedcb1ffb53ac67

- Timeout upped to 30 sec.
- Timeout error will force a retry loop w/ backoff *unless* it is on the `test_connection` call, then it will raise a `ISYConnectionError`
  - Theory: `test_connection` should be the first call made to the ISY, so if we really can't connect the first ti

[2020-05-25 03:09] bdraco commented on #107
It looks like I was overwhelming the isy because I had two home assistant instances starting at the same time

[2020-05-25 03:09] bdraco commented on #107
With the latest changes that seems ok.

[2020-05-25 23:41] bdraco commented on #107
Finally got it to error again.  Might be a disconnect mid response?

It did recover and continue on without incident!

[code]

[2020-05-26 22:01] bdraco commented on #107
After tons of restarts while working on something else I found this

[code]

[2020-05-27 03:03] shbatm commented on #107
Updated.

[2020-05-27 03:09] bdraco commented on #107
Updated and will continue testing.

[2020-05-27 23:36] bdraco commented on #107
Managed to get it to fail to startup when I started two instances at once
`2020-05-27 18:01:48 ERROR (MainThread) [pyisy] ISY Could not parse response, poorly formatted XML.: Nodes`

All nodes were not available.

[code]

[2020-05-27 23:46] shbatm commented on #107
Don't do that.

Don't know if there's anything I can do about that one... I see it occasionally with the current version too. The ISY sends a garbled XML response, but at that point its already past the request loading and onto parsing.  You should be able to call `isy994.reload` and force a refresh.

[2020-05-27 23:49] bdraco commented on #107
I think we are probably at the point everything is generally stable and it makes sense handle this situation by raise ConfigEntryNotReady and retry when the isy is less busy.

[2020-05-27 23:56] shbatm commented on #107
I can add an `ISYResponseParseError` to those calls that we can catch and raise the `ConfigEntryNotReady` on the HASS side.

[2020-05-27 23:58] bdraco commented on #107
Good idea

[2020-05-28 07:47] shbatm commented on #107
Updated and available for testing:

- https://github.com/shbatm/PyISY/tree/async
- https://pypi.org/project/pyisy-beta/3.0.0.dev11/
- https://github.com/shbatm/home-assistant/tree/pyisy_async
- https://github.com/shbatm/hacs-isy994/releases/tag/v2.0.0b2

[2020-06-01 20:05] bdraco commented on #107
Everything has been solid for me for the last 5 days.

Only issue is that zwave sensor showing up as a light

[2020-06-07 20:32] shbatm commented on #107
Running for 1 week on my dev box with stable connection.

@bdraco - Which Z-Wave sensor? Can you send me the node info? I think you told me about it but I lost track of where.

@OverloadUT - Do you agree with doing a V3 for the `async` version? Also, do you want some help cleaning up the old issues/PRs--offering if you want to grant me temporary access to the repo I can do some mop up this week wh

[2020-06-07 20:35] bdraco commented on #107
Node info below:

{code}
<nodeInfo>
<node flag="128" nodeDefId="UZW00EB">
<address>ZW005_1</address>
<name>ZW 005 Notify Sensor</name>
<family>4</family>
<type>4.7.1.0</type>
<enabled>true</enabled>
<deviceClass>0</deviceClass>
<wattage>0</wattage>
<dcPeriod>0</dcPeriod>
<startDelay>0</startDelay>
<endDelay>0</endDelay>
<pnode>ZW005_1</pnode>
<sgid>1</sgid>
<devtype>
<gen>4.7.1</gen>
<mfg>410.3.3<

[2020-06-07 20:39] bdraco commented on #107
Also everything has been rock solid for me as well 👍

[2020-06-07 21:03] bdraco commented on #107
ZW005_104
[code]

[2020-06-07 23:11] shbatm commented on #107
Z-Wave sensor issue has been corrected on the HA side. The Z-Wave category was not correctly included in the range.

[2020-06-22 22:20] jimboca opened #109 "Change from isAlive to is_alive"
I see these warnings when reconnecter kicked in

[code]

[2020-07-20 17:39] bdraco commented on #107
Managed to get this one restart today
[code]

Probably another place we need to raise `ConfigEntryNotReady`

[2020-07-25 07:47] bdraco commented on #107
I did some more testing on startup time.  The async version takes ~18s longer to startup

[2020-07-26 00:48] bdraco commented on #107
[code]

Looks like we run out of connections and then timeout on connect.

[2020-07-28 03:03] jimboca opened #110 "Issues with KPL Button Nodes"
For a KPL button like the example xml below

[code]

Is there a property or method that tells us we can not send a DON

`http://xxx/rest/nodes/46%20FD%203F%205/cmd/DON
`

[code]

Even the dimmable returns True, but sending a on with value is not acceptable:
`http://xxx/rest/nodes/46%20FD%203F%205/cmd/DON/254
`

[code]

The only way these can be controlled is to turn on or off a Scene (Group) which

[2020-07-28 11:56] shbatm commented on #110
There is very limited capability detection built into PyISY itself and what is there is not very robust (e.g. dimming/thermostat type detection). For HA, this is all done inside the integration with several different types of sorting and classification that would be difficult to generalize in the PyISY module. I would recommend adding some logic in your integration for it unless you can come up wi

[2020-07-28 16:23] jimboca commented on #110
Thanks, I understand and assumed that would be the answer.  I'll ask Michel if there is an more robust way to handle this.

[2020-07-29 22:53] jimboca commented on #110
So the only silver bullet is to download the nodedefs for the devices, but that's a lot of work.

Michel said:
This is how that type is translated:Category(or family).subcategory.version.unused 
So, if you look at the attached, yours is a dimmer(1) while your customer’s is a relay/switch(2). Subcategory is defined in the fam_<cat>.xml. For INSTEON, it’s 1_fam.xml (also attached). This tells you wh

[2020-07-31 21:29] jimboca commented on #110
So of course the best way is to download the nodedefs for all nodes, but that's a lot of work...

The main issue I was having is that for KPL's where the main button is dimmable, it was still returning dimmable=True for the sub-buttons, but they are not.  So can add something like:

[code]

[2020-08-02 08:35] bdraco commented on #107
Similar error happened again

[code]

[2020-08-02 14:59] shbatm commented on #107
@bdraco Keep logging everything. I'm officially out of commission for a move and real-work for the next ~2 months but I'll pick everything up and dig in once I get set up in the new house.

[2020-08-02 19:17] bdraco commented on #107
Will do 👍

[2020-08-29 23:39] bluemantwo opened #111 "ISY Variables with precision set to >0 lose decimal place"
If a variables is set to precision >0 in ISY (for example value=1.23), it will come across in Home Assistant as value=123.  This can be addressed by creating a platform template for each variable, but it would be nice if this can be converted correctly by PyISY.  Thanks for all the great work on PyISY.  It is without question my most used software for home automation.

[2020-09-07 19:47] shbatm commented on #110
This is what I started considering when working on some of the recent updates for async loading, especially as Node Servers become more complex and widespread--since the capabilities vary widely. However, at the moment, I decided my time wasn't best spent in that rabbit hole.

As mentioned above, I have been trying to avoid managing command validation within PyISY, although long-term it would be n

[2020-09-07 20:14] shbatm commented on #111
@bluemantwo can you please post the XML for one of your variables with precision? My ISY is offline for the next few weeks.

Should be from `/rest/variables/get/<1 for int, 2 for state>/<variable id>`

Also, if you can enable debug in Home Assistant and also grab the full event XML when you change a value, that will help too.

You'll have to enable `notset` logging to get PyISY to dump the raw XML

[2020-09-07 22:24] bluemantwo commented on #111
Here is REST result:

`<var type="2" id="53">
<init>0</init>
<prec>2</prec>
<val>1297</val>
<ts>20200907 15:20:08</ts>
</var>`

Let me get the other info in a bit....

[2020-09-07 22:31] bluemantwo commented on #111
@shbatm , I send the service command to set logger.  But I do not see where there are any logs created.  It is not the in main log that I can see.

[2020-09-07 22:42] bluemantwo commented on #111
Doh!  I found it.  Here it is:

`2020-09-07 15:38:17 DEBUG (Thread-6) [homeassistant.components.isy994] ISY Updated Variable: 2.53
2020-09-07 15:38:17 DEBUG (MainThread) [homeassistant.core] Bus:Handling <Event state_changed[L]: entity_id=sensor.bbc_bat_volts_sensor, old_state=<state sensor.bbc_bat_volts_sensor=1298; init_value=0, friendly_name=BBC_Bat_Volts.Sensor, icon=mdi:battery, device_class=

[2020-09-08 02:02] shbatm commented on #111
OK -- I've got what I need for the finding the initial reading of the precision; and you're right, `<prec>` is new for variables (sometime around 5.0.15 I think), I just didn't know the exact implementation of it.  I can work on getting this incorporated when I have time, should be pretty easy.

As for the event log--I had to re-read what "notset" will actually do, and it won't get me what I want

[2020-09-08 08:09] #55 closed

[2020-09-08 08:09] #51 closed

[2020-09-08 08:09] #45 closed

[2020-09-08 08:09] #41 closed

[2020-09-08 08:09] #32 closed

[2020-09-08 08:09] #23 closed

[2020-09-08 08:09] #83 closed

[2020-09-08 13:09] #26 closed

[2020-09-08 13:11] shbatm commented on #96
Resolved here https://github.com/automicus/PyISY/commit/84866e139a1f9f47a40d03a037c908f03331499a

[2020-09-08 13:11] #96 closed

[2020-09-08 13:12] #108 closed

[2020-09-08 13:12] #90 closed

[2020-09-08 13:15] shbatm commented on #64
Resolved by @balloob here https://github.com/automicus/PyISY/commit/297087b9b1826b4153dce561a65e8caf50d88ef4

[2020-09-08 13:15] #64 closed

[2020-09-08 13:22] #109 closed

[2020-09-12 01:19] #110 closed

[2020-09-12 01:27] jimboca commented on #110
Thanks! Sorry I forgot to get back to this and let you know...

[2020-09-12 12:24] bdraco commented on #107
I realized how much more responsive this was when I fixed the node sending in core and left my main instance running the sync version.  It was so noticeable that I had thought something was wrong after switching back to the sync version.

Everything was running smooth sans the above mentioned traces.

[2020-09-12 12:41] shbatm commented on #107
Good! Yeah, definitely a difference in loading for me.

Proposed path forward:
1) Release V2.1.0 with all changes to master so far and added support for precision in variables sometime in the next ~2 weeks (the [fake-isy-994i](https://github.com/shbatm/fake-isy-994i) server won't generate events, so I need a real `VERBOSE`/`log_level=5` event log result to finish it up, should be home on the 22nd

[2020-09-12 12:42] bdraco commented on #107
Sounds like a great plan to me. 👍

[2020-09-12 21:58] shbatm commented on #107
- Async Changes from my fork have been merged into the v3.x.x branch: https://github.com/automicus/PyISY/tree/v3.x.x
- Parity release for `v2.1,0rc1` and `v3.0.0dev11` released for PyISY-beta: https://pypi.org/project/pyisy-beta/3.0.0.dev12/
- I will update the `hacs-isy994` component when I get a chance tonight.

[2020-09-13 01:02] shbatm opened #123 "[v3] Asyncio Timeout Error during handling of Asyncio Cancelled Error"
[code]

Looks like we run out of connections and then timeout on connect.

_Originally posted by @bdraco in https://github.com/automicus/PyISY/issues/107#issuecomment-663921876_

[2020-09-16 19:23] derekatkins opened #124 "PyISY crashes on bogus (non-UTF8) data from the ISY"
I had a bogus zwave node in the ISY that got added automagically (even though I told the ISY not to), and when it reported, the formatted text was in non-UTF8.  This causes PyISY to throw a parsing error.  It should, instead, have just ignored the error and continued on.

See https://github.com/home-assistant/core/issues/40134 for more information.

[2020-09-16 19:27] bdraco commented on #124
Potential solution v3

Try changing
[code]

[code]

to

[code]

[2020-09-16 19:27] bdraco commented on #124
Potential solution v2

[code]

[code]

to

[code]

[2020-09-16 19:28] derekatkins commented on #124
Unfortunately I cleared out the bogus node on my ISY so I cannot test these changes.  Also, as I'm running HassOS, I don't seem to have access to /usr/local/lib/python3.8/  (or the directory is different from the SSH Add-On container)

[2020-09-16 20:03] derekatkins commented on #124
I am happy to supply you (privately) a status.xml that has the bogus data.

[2020-09-17 00:33] shbatm commented on #124
@derekatkins please send it to my email on my profile as well as nodes.xml if you have it. I can run it against @bdraco's changes tomorrow when I get a chance using an ISY simulator. They look like they'll take care of the issue.

From skimming the HA issue it's definitely on the get_status call and this is not the first time this bad UTF-8 data from the ISY has surfaced... Although before (in V1)

[2020-09-17 01:24] derekatkins commented on #124
@shbatm should be in your inbox now.  Thanks!

[2020-09-17 23:29] shbatm commented on #124
Fix has been pushed for V2 and will be included in next release. Fix for V3 is outstanding in #126; works for initial loading, but have not been able to test on live event stream yet.

[2020-09-18 15:49] derekatkins commented on #107
FYI, I have about 150 Insteon devices and 5 z-wave devices connected to my ISY, so I'm happy to help test as well.

[2020-09-19 15:25] shbatm opened #129 "Add support for device renaming"
The new firmware 5.2.0 (RC3) now supports the following in REST ---

0000763: Add REST API that allows you to rename a node ( /rest/nodes/<nodeAddress>/change?name=<newName> )

See here:
https://forum.universal-devices.com/topic/30539-release-520-rc3-is-now-available/

_originated by @bkvargyas on https://github.com/shbatm/hacs-isy994/issues/75_

[2020-09-19 16:26] derekatkins commented on #124
It partially works.  At 10:35:02 I stopped receiving sensor data from one my of Z-Wave multi-sensors (ZW003_1).  Here's what I see in the log around that time:
[code]
But after this point I never get anything back from ZW003_1, even though I was seeing messages in the ISY Event Log.  Even worse, my ZW010_1 stopped talking to HA yesterday at 19:19:29, which also closely corresponds to a similar err

[2020-09-19 17:03] derekatkins commented on #124
Okay, just got to explore a little bit, and ZW003_354 showed up again, with that "micro" character again.  But I don't know why that's stopping ZW010 from reporting.  I don't see any nodes there with an invalid character.  I suppose I could pull down the status again and see; the logs don't say what node is being processed; it would be useful to output the byte-array to the log on decode error.

[2020-09-19 17:12] derekatkins commented on #124
Okay, more digging -- during the "outage", I do see ZW003_1 CLITEMP messages of the form:
[code]
However the HA entity isn't being updated from these messages from 10:35 until about 12:00.

On the other hand, I *did* stop receiving CLITEMP messages from ZW010_1 into HA as of 19:19:28 last night (but as I've stated, I do see them in the ISY).

So... what else do you want me to look at?

[2020-09-19 17:25] derekatkins commented on #124
FYI, reported to UDI: https://forum.universal-devices.com/topic/30798-invalid-utf-8-in-xml-node-data-on-510-from-a-bogus-z-wave-node/

[2020-09-19 17:28] shbatm commented on #124
This error is thrown from `aiohttp`'s websocket, which looks like it immediately closes the socket on invalid `UTF-8`. That's not good for us. There's no "ignore" option that I can see in the code that would just let it move on or print the byte array it received, at least that I found in a quick check of the source.

It is reacting and reconnecting, but I'm not sure why you wouldn't be receiving

[2020-09-19 17:59] derekatkins commented on #124
Yeah, there is a longstanding (locked) issue about it:  https://github.com/aio-libs/aiohttp/issues/1802 which seems to imply we should use .read() instead of .text().

Question: how does the ISY know what data to send to you?  Do you have to register for the specific node data, or does it send all updates over the websocket?  If you have to register for the nodes that you want, could part of the i

[2020-09-19 18:13] derekatkins commented on #124
So I see this:
[code]
and then it prints out my ISY device tree.  I see ZW010 in there.  It reconnects, and then later I see similar data to what I saw before:
[code]
I don't see the actual data that was sent that caused the invalid UTF8 message?

[2020-09-19 18:46] shbatm commented on #124
`pip` is just a python package manager; if you're running this on the same instance/environment as your home assistant instance, you'll have pip already, since that's what HA uses; if not, it should be available just about wherever python is.

You may be able to with `python3 __main__.py` run inside of that folder instead of `python3 -m pyisy`. You can also "install" the local clone with `pip inst

[2020-09-19 18:50] shbatm commented on #124
The issue seems to be [here](https://github.com/aio-libs/aiohttp/blob/6a5ab96bd9cb404b4abfd5160fe8f34a29d941e5/aiohttp/http_websocket.py#L384) since the websocket forces the decode of UTF-8 with the default "strict" method, it doesn't allow us to ignore errors, nor does it seem to pass the full stack back to see what the error was.

[2020-09-19 18:54] derekatkins commented on #124
Well, that is unfortunate.  :(

[2020-09-19 18:55] derekatkins commented on #124
Can we override that method in the class?  ;)

[2020-09-19 19:25] bdraco commented on #124
Possible options:

 Trap WebSocketError and warn if its WSCloseCode.INVALID_TEXT otherwise raise

 Change out the parser see `aiohttp/client.py` line `proto.set_parser(WebSocketReader(reader, max_msg_size), reader)`

[2020-09-19 20:37] derekatkins commented on #124
I don't see how this necessarily helps.  It will keep it from crashing, but might not keep the session open, and it most likely wont let us see what the errant message is/was.  Maybe that's sufficient?

This might be useful?

I am certainly happy to test, since it appears to be easily reproducible at the moment.  So long as ZW003 continues to report, I am fine ignoring ZW010 for now.

[2020-09-20 00:13] shbatm commented on #124
@derekatkins can you please try changing [this line](https://github.com/automicus/PyISY/blob/9965b9280dfd8cc2c8b58357a90df89aa6df1c75/pyisy/events/websocket.py#L238):

[code]

to this:

[code]

and see if you get some more information?

If you installed with pip, you can see where it put the module with `pip show pyisy-beta`. If you used the local clone with `pip install -e /path/to/repo` you shou

[2020-09-20 01:52] derekatkins commented on #124
I made that change and now it says:
[code]

[2020-09-20 17:17] derekatkins commented on #124
So, I upgraded my ISY to 5.2.0 as per the discussion there, but now I get an error from PYISY:
[code]
For kicks, let me try https instead of http.  Okay, that seems to be working; so now I need to wait for that bogus node to obtain some data.  Who knows when that will happen.  But I also appear to need to change my integration to use SSL, since WS on port 80 doesn't appear to work anymore.

[2020-09-20 20:32] derekatkins commented on #124
quick update -- restarted HA and everything is connected and working.  Need to wait for that bogus node to show again..

[2020-09-24 12:44] derekatkins commented on #124
... and the bogus node reappeared, and 5.2.0 is still sending ISO and not UTF8.  HA is still flapping. Running PYISY directly I see:
[code]
Notice the 60-second delay in there?  Then I see, later:
[code]
So it is still failing on that ISO character in the XML response.

[2020-09-24 13:33] derekatkins commented on #124
I tried this, but I get:
[code]
Doesn't matter where I run it from, I still get this error.  I can try to install first, but there's got to be a way to tell it to run-from-source?

[2020-09-24 14:09] derekatkins commented on #124
I tracked this down to this code in `nodes/__init__.py` in `async def update(self, wait_time=0, xml=None):`
[code]
(I added the 414 in there to track down where it was occurring).  The fact that it's on `/status` makes sense, as we know that has the ISO character in there.  Is there a way to tell minidom.parseString to ignore UTF8 errors?

[2020-09-24 14:47] shbatm commented on #124
This part has been fixed in #125 and #126 already. I haven't had a chance to fix the v3 websocket issue, but everything for v2 (which is what HA uses) will be fixed in the next release.

[2020-09-24 14:55] derekatkins commented on #124
It's not been fixed in #126 -- I am running that branch in testing and still seeing the issue.

[2020-09-24 15:02] derekatkins commented on #124
@shbatm Has the send_node_command issue been fixed in current HA release?  If so, I can downgrade back to version 2 once it's "released".  Although right now I am testing v3.

[2020-09-29 05:07] rmkraus opened #131 "HASS - Create Devices for Scenes"
The family and I just settled back down in a permanent home after being in transition for the past two years. Obviously, getting HASS and the ISY back up was a priority. Thanks for all the hard work you have all done on this library and the HASS integration. I can't tell you how humbling it is to see this project evolve way past my initial contributions. Both HASS and the ISY integrations have com

[2020-09-30 13:09] shbatm commented on #131
@rmkraus I'm glad I've been able to contribute and share, but it would not have been close to what it is without your original framework. I'm glad you're finally getting to settle back into a permanent spot! Going on 3 months of a move myself and I'm already sick of it.

As for the devices, when I added the support, my interpretation per the [guidance](https://developers.home-assistant.io/docs/dev

[2020-10-02 16:16] derekatkins commented on #124
Answering my own question (after downgrading back to v3) -- yes, it has.  So I'll run with v2 for now until you tell me you think you're ready to test v3.  Of course, I removed the bogus node from my ISY earlier today so of course everything is working for now.  I'll keep an eye out for if (when?) the bogus node comes back.

Thanks!

[2020-10-04 22:10] derekatkins commented on #124
FYI, as I just mentioned in https://github.com/automicus/PyISY/pull/125, the fix didn't fix the problem.  I got another (different) error code in the logs when the bogus node reappeared and then the ISY stopped sending events to HA:
[code]

[2020-10-05 12:35] derekatkins commented on #124
I was going to try to test the 2.0 branch in the way you suggest testing the 3.0 branch, but there is no __main__.py in the 2.0 branch.  :(

[2020-10-18 01:07] #111 closed

[2020-10-18 17:59] shbatm commented on #131
@bdraco Thoughts on this?

[2020-10-18 18:30] bdraco commented on #131
I read the docs the same way.

I think its best to open an architecture (https://github.com/home-assistant/architecture/issues/new) for clarification if the docs be changed to `"physical" or "virtual" device`

[2020-10-21 11:57] shbatm commented on #124
Update on v3/Websockets -- After discussion on `aiohttp`'s repo and digging further into the Websocket API and other implementations, everything is pretty unambiguous about breaking the socket connection on invalid UTF-8 messages and sending a 1007 close message. The issue with this, as you've seen, is a reconnect is not instantaneous and upon reconnection to the ISY, it will send a full system st

[2020-10-21 12:06] derekatkins commented on #124
Thanks for the update.  I don't blame you, but I do hope you wait to push v3 until UDI has fixed this bug (which they acknowledged in the 5.3.0 release thread and said would be in the "next build").

I am actually running an updated v2 in HA, manually applying your v2 changes, and even with the ISY returning non-UTF8, it's working perfectly.  So I can confirm that your v2 changes work.  I saw you

[2020-10-21 12:17] shbatm commented on #131
@teharris1 - want to get your thoughts on this and doing some research as well before I take it to `architecture`. How does the Insteon integration handle scenes vs. how should they be handled.

To me the Architecture issue would be:

** Device Creation / Area Assignment for Scenes in External Protocols **

This applies to Z-Wave Scenes (Z-Wave, OpenZWave, Zwave2mqtt), Zigbee Groups (ZHA, zigbee2m

[2020-10-21 12:35] shbatm commented on #124
Yes, should be in the next major version release.

I saw Chris' response I will keep an eye on the build posts--the plan was to test V3 until the end of the year using the [hacs-isy994](https://github.com/shbatm/hacs-isy994) `custom_component` and then if no major issues, migrate to Home Assistant Core. If UDI still hasn't resolved the bug by the end of the year, I may just do a flip-flop and push

[2020-10-21 12:38] derekatkins commented on #124
This is a fair approach (although I will probably just install the custom_component by hand instead of using HACS).  I'm just asking for v2 to remain supported until this bug is fixed by UDI.  Thanks!

[2020-10-21 17:29] OverloadUT commented on #131
The `hue.hue_activate_scene` service in Hue is another one to add to the list of components that use similar functionality

I've long wished for Home Assistant to get first class support for these sort of ecosystem-specific scenes. It's a tough one because each ecosystem is likely to have very different needs and features (turning a scene off is a good example that appears to be pretty unique to I

[2020-10-24 13:35] shbatm opened #140 "Support for Z-Wave Config Parameters"
Add support for setting Z-Wave Configuration Parameters. This will be used to support a new service in Home Assistant requested here: https://github.com/shbatm/hacs-isy994/issues/70

Optionally, add support for triggering inclusion/exclusions via REST

Set zwave device parameter
The parameter size can be either 1,2, or 4 bytes
/rest/zwave/node/ZW003_1/config/set/1/77/1
/rest/zwave/node/ZW003_1/con

[2020-10-24 14:15] shbatm opened #141 "Z-Wave Devices using 0-100% instead of 0-255 for the Brightness"
This seems like an long-running but un-tracked bug where certain Z-Wave devices use UOM=51 and 0-100% instead of the 0-255 used by most devices.

Two options -- update `Nodes` here to use catch `uom=51` devices and translate to 0-255, or update Home Assistant to do the same.

I will double check to make sure this was not a regression missed in V2, but I think it's just been worked around since the

[2020-10-29 16:24] Mandaur1 commented on #141
The uom designation for % on the isy in node properties is 51. It was lost between us communicating. I also noticed that the formatted field when looking at the xml node properties shows % vs Insteon devices showing off.

[2020-11-02 14:14] kj4qyf commented on #141
It is not my only issue. When changing  the circle (%) in HA on a dimming light, nothing happens to the light and nothing shows up in ISY

[2020-11-02 14:45] shbatm commented on #141
Please provide the XML from http://your-isy-ip:port/rest/nodes/ZW_ADDRESS_OF_NODE when you get a chance. This will provide the device details for some diagnostics.

Does it do anything when you change the dimming in the 0-40% range? Also, can you please try browsing to the following address using your browser and see if the light dims to 50%? http://your-isy-ip:port/rest/nodes/ZW_ADDRESS_OF_NODE/c

[2020-11-02 15:15] kj4qyf commented on #141
[ZW139_01.pdf](https://github.com/automicus/PyISY/files/5475988/ZW139_01.pdf)
[50.pdf](https://github.com/automicus/PyISY/files/5475989/50.pdf)
[ZW048_01.pdf](https://github.com/automicus/PyISY/files/5475991/ZW048_01.pdf)
ZW048 is the Office Night Light. And I also did the same for another light ZW139
It seems indeed that the ISY and the light react to a HA change of % up to 40% and not higher.
Le

[2020-11-02 15:55] shbatm commented on #141
OK, then it's definitely due to this issue: 39% is 100/255--since the Z-Wave light is expecting a 0-100 range instead of 0-255 like all other ISY devices, it doesn't know what to do if you send higher than 100.

Can you please resend the XML file using `/ZW048_1` instead of `/ZW048_01` that should get rid of the 404 error.

[2020-11-02 16:41] kj4qyf commented on #141
[ZW048_1.pdf](https://github.com/automicus/PyISY/files/5476513/ZW048_1.pdf)

[2020-11-02 16:42] kj4qyf commented on #141
OK, then it's definitely due to this issue: 39% is 100/255--since the Z-Wave light is expecting a 0-100 range instead of 0-255 like all other ISY devices, it doesn't know what to do if you send higher than 100.

That makes sense. Thanks

[2020-11-03 15:14] kj4qyf commented on #141
UDi has asked that you kindly coordinate the resolution of the 0-100
vs 0-255 issue with them, as they want to make sure that it not creates
a conflict elsewhere.

Many thanks

------ Original Message ------
From: "shbatm" <notifications@github.com>
To: "automicus/PyISY" <PyISY@noreply.github.com>
Cc: "kj4qyf" <kj4qyf@gmail.com>; "Comment" <comment@noreply.github.com>
Sent: 11/2/2020 10:55:54 AM
S

[2020-11-03 15:15] kj4qyf commented on #141
----- Please reply above this line ------- Status: Open-- For full conversation/history, please click https://www.universal-devices.com/my-tickets/?support_page=open_ticket&ticket_id=10402&auth_code=DNQL9NzjGz
Dear Abraham Seno BRIL,
Thank you for contacting us. We'll do our best to get back to you as soon as possible and, usually, within 2 hours but no later than 48 hours. In the meantime, please

[2020-11-03 15:15] kj4qyf commented on #141
----- Please reply above this line ------- Assigned to: Brad McAdams, michel@universal-devices.com | Support/Low | Status: Open -- Product Info:  -- Ticket link: https://www.universal-devices.com/my-tickets/?support_page=open_ticket&ticket_id=10402&auth_code=DNQL9NzjGz
Abraham Seno BRIL wrote:

UDi has asked that you kindly coordinate the resolution of the 0-100   vs 0-255 issue with them, as they

[2020-11-03 16:18] kj4qyf commented on #141
----- Please reply above this line ------- Assigned to: Brad McAdams, michel@universal-devices.com | Support/Low | Status: Awaiting customer reply -- Product Info:  -- Ticket link: https://www.universal-devices.com/my-tickets/?support_page=open_ticket&ticket_id=10402&auth_code=DNQL9NzjGz
michel@universal-devices.com wrote:

Thank you Seno.
 
With kind regards,
 
******************************
  Mi

[2020-11-06 18:51] shbatm commented on #141
Looking into this more, IMO the best place to fix it is going to be in the Home Assistant code, since the scope of when you need to check for this and how you keep track of the % vs the 8-bit value can be narrowed down better in Home Assistant's integration vs. here. I have initiated the PR over on the Home Assistant side to resolve.

[2020-11-06 20:11] kj4qyf commented on #141
Many thanks.  I look forward hearing from HA on the solution. I also understand that there may be a ISY specific issue, whereby Insteon devices work with 0-255 while Zwave with 0-100  (or the reverse).
Many thanks to all and hopefully this can be resolved soon.

[2020-11-06 20:40] shbatm commented on #141
Closed via home-assistant/core#42915.

[2020-11-06 20:40] #141 closed

[2020-11-06 20:54] kj4qyf commented on #141
I don't understand why this closed while it has not been resolved.
I am copying UDI (ISY994i) as this concerns them as well

Thanks

------ Original Message ------
From: "shbatm" <notifications@github.com>
To: "automicus/PyISY" <PyISY@noreply.github.com>
Cc: "kj4qyf" <kj4qyf@gmail.com>; "Comment" <comment@noreply.github.com>
Sent: 11/6/2020 3:40:45 PM
Subject: Re: [automicus/PyISY] Z-Wave Devices

[2020-11-06 20:55] kj4qyf commented on #141
----- Please reply above this line ------- Status: Open-- For full conversation/history, please click https://www.universal-devices.com/my-tickets/?support_page=open_ticket&ticket_id=10441&auth_code=CtC4PEq4SA
Dear Harry,
Thank you for contacting us. We'll do our best to get back to you as soon as possible and, usually, within 2 hours but no later than 48 hours. In the meantime, please 1. Checkout

[2020-11-06 20:55] kj4qyf commented on #141
----- Please reply above this line ------- Assigned to: Brad McAdams, michel@universal-devices.com | Support/Low | Status: Open -- Product Info:  -- Ticket link: https://www.universal-devices.com/my-tickets/?support_page=open_ticket&ticket_id=10441&auth_code=CtC4PEq4SA
Harry wrote:

I don't understand why this closed while it has not been resolved.I am copying UDI (ISY994i) as this concerns them a

[2020-11-06 20:56] rccoleman commented on #141
The corresponding PR to the Home Assistant Core mentioned above has been merged. Nothing to be concerned about.

[2020-11-06 21:06] kj4qyf commented on #141
----- Please reply above this line ------- Assigned to: Brad McAdams, michel@universal-devices.com | Support/Low | Status: Awaiting customer reply -- Product Info:  -- Ticket link: https://www.universal-devices.com/my-tickets/?support_page=open_ticket&ticket_id=10441&auth_code=CtC4PEq4SA
michel@universal-devices.com wrote:

Hi Harry,
 
This is normal. In 5.x, UOM and ranges are defined by each pro

[2020-11-06 21:09] kj4qyf commented on #141
Thanks !!!!!!!!!!!!!!!!!!!!!!!!!!

------ Original Message ------
From: "rccoleman" <notifications@github.com>
To: "automicus/PyISY" <PyISY@noreply.github.com>
Cc: "kj4qyf" <kj4qyf@gmail.com>; "Comment" <comment@noreply.github.com>
Sent: 11/6/2020 3:56:29 PM
Subject: Re: [automicus/PyISY] Z-Wave Devices using 0-100% instead of
0-255 for the Brightness (#141)

[2020-11-06 22:58] shbatm commented on #141
The fix will be available in the next release cycle of Home Assistant. As mentioned by UDI, this is a normal/expected behavior on their end and just requires special handling from the HA end.

Nothing is being changed in PyISY since this primarily concerns device/type-specific behaviors which are handled in Home Assistant.

[2020-11-06 23:57] kj4qyf commented on #141
Understood and thanks !!!!!!!

------ Original Message ------
From: "shbatm" <notifications@github.com>
To: "automicus/PyISY" <PyISY@noreply.github.com>
Cc: "kj4qyf" <kj4qyf@gmail.com>; "Comment" <comment@noreply.github.com>
Sent: 11/6/2020 5:59:02 PM
Subject: Re: [automicus/PyISY] Z-Wave Devices using 0-100% instead of
0-255 for the Brightness (#141)

[2020-11-07 00:04] rccoleman commented on #141
Heading off the next question - the release calendar is here: https://developers.home-assistant.io/

[2020-11-09 19:24] teharris1 commented on #131
I have been asked a similar request on the Insteon side. Unfortunately, I don't agree with creating scenes as devices for a few reasons. Most importantly, an Insteon scene is a trigger, not a `device` therefore it does not have state, The devices that the scene triggers have state. I get the idea of having one "entity" that can turn a scene on/off and could give you the state of the scene in some

[2020-11-24 15:08] Mandaur1 commented on #141
Thank for making the changes to the HA core on dimming zwave devices. So I tested the new code. I have one question. I believe most light devices are able to go full range 0-255 where 0 is off and 255 is fully on. I think that the scaling factor in the code is not able to reach zero.  When I attempt to take the slider in HA to 0% in ends up on 1% or 3 on a scale of 0-255. I’m not sure if this was

[2020-12-03 17:14] MechEng70 commented on #141
Also, the last brightness is on the 0-255 scale and not the 0-100. Can that be changed to the same scale?

![last brightness](https://user-images.githubusercontent.com/11697710/101063276-7d88ce80-3547-11eb-8fa8-e5746c64fa0e.png)

[2020-12-03 18:01] shbatm commented on #141
@Mandaur1:

I believe this behavior is part of Home Assistant's front-end. I just tried with a few other integrations and if using the slider, you can only go to 1%, to turn it off, you have to use the toggle or click the icon.

@MechEng70

This is also part of Home Assistant. Home Assistant works in 0-255 scale for brightness (regardless of integration), the changes made under this issue just tra

[2020-12-04 22:06] NickWaterton opened #144 "v3.x.x (asyncio version) uses python V 3.7 method"
Just got this working, but had to make a couple of fixes.

in `isy.py` line 118 the method `asyncio.get_running_loop()` is used, but this is only available in python 3.7.

As I'm on python 3.6, I changed it to
[code]

The same problem exists in `websocket.py` line 92.

Once this was fixed, works just fine on python 3.6.

**Note:** The Example in `main()` (`__main__.py`) uses `asyncio.run()` anothe

[2020-12-07 16:41] NickWaterton opened #145 "v3.x.x and 2.x.x Gives Duplicate status update events with auto_update or websockets enabled"
This looks to be true of the 2.x version as well, but I'm on 3.x.x.

When `auto_update` is enabled, or `use_websocket` is enabled, you get two notifications for every command sent. This doesn't happens without `auto_update` enabled, because the `node.status` is not updated with the `hint`.

When you send a command eg `node.turn_on()`, and you are subscribed to `status_events` for that node, you ge

[2020-12-11 16:39] NickWaterton commented on #145
I have been having difficulties with this for a few days now. I have one light that gives errors quite often, and so have implemented a retry mechanism.

However, there is a problem.
When an error message is received, like this:
[code]
This triggers a `status_event` notification like this:
[code]
However the status value is incorrect. this is because when you send the `node.turn_off()` command, th

[2020-12-19 01:10] shbatm commented on #145
Thanks for the input. Sorry I haven't had much time to dig in to this yet, but I hope to in the next few weeks.

I will play with turning off the hint again. I tried it on the original take of v2, but I hated that the toggles would 'bounce' in Home Assistant's Lovelace interface. Hopefully things are a bit quicker in V3, but I may also just try reworking the hint mechanics all together to provide

[2020-12-19 01:19] shbatm commented on #145
Expanding on this... The biggest reason I think that hint was added by @rmkraus originally would be interface lag. You click a toggle, it should go to ON, but the status hasn't updated back from the ISY so the interface moves it back to OFF, then the ISY updates the status so it turns to ON. This is the 'bounce' I mentioned above.

This does have its pitfalls for when the ISY doesn't actually do w

[2020-12-19 01:29] shbatm commented on #144
The minimum supported version is going to be 3.7 when this package is released.

Python 3.6 is EOL at the end of 2021, and since the major user of this module is Home Assistant which only supports one minor version behind the current stable version (3.8), it doesn't make much sense to try and maintain 3.6 compatibility.

[2020-12-19 01:29] #144 closed

[2020-12-19 01:32] NickWaterton commented on #145
I actually implemented a retry mechanism. You send the command, and add it to a pending_commands dictionary. If the change state event comes in, the state is published and the command removed from the pending_command dict. If the state has not updated after 5 seconds, the command is resent. There are 5 retries before I give up.

Nick Waterton P.Eng
Sent from my iPhone

On Dec 18, 2020, at 8:20 PM,

[2020-12-19 01:36] shbatm commented on #145
I'll take a look at your branch when I get time to play around.

And expanded command queue with retries for both REST call and comms errors is a good idea.

[2020-12-19 01:37] NickWaterton commented on #144
I’m using it in OpenHAB, not HA. This library could be used for many things, not just HA.

There is literally 1 command used in two places from 3.7, seems a bit limiting to restrict the python version for these two lines.

Ubuntu 18.04 uses 3.6, and is under LTS.

Just seems restrictive for no good reason.

Nick Waterton P.Eng
Sent from my iPhone

On Dec 18, 2020, at 8:30 PM, shbatm <notifications

[2020-12-19 01:38] NickWaterton commented on #145
I’ll post it somewhere, I don’t think it’s up yet, I just subclass pyisy.

Nick Waterton P.Eng
Sent from my iPhone

On Dec 18, 2020, at 8:36 PM, shbatm <notifications@github.com> wrote:

﻿

I'll take a look at your branch when I get time to play around.

An expanded command queue with retries for both REST call and comms errors is a good idea.

—
You are receiving this because you authored the thr

[2020-12-19 14:12] shbatm commented on #145
![](https://github.trello.services/images/mini-trello-icon.png) [ISY Hint issues and double change events](https://trello.com/c/CMcE9bkL/565-isy-hint-issues-and-double-change-events)

[2020-12-22 15:36] NickWaterton commented on #145
My implementation is here https://github.com/NickWaterton/ISY_MQTT/tree/main

As I say it just subclasses pyisy (but in my copy of pyisy the hint mechanism is disabled)

[2021-01-28 22:40] jimboca opened #147 "Where did the documentation go?"
There used to be documentation on how to use the library, where did it go?

[2021-01-28 22:50] shbatm commented on #147
Good question. I did not update any docs (just the in-code documentation) for v2, but I also don't remember deleting them.

I think @rmkraus had them hosted on the automic.us website, but that was a dead link by the time I started using the module a few years ago.

I found the old Sphinx folder with the last set of documentation updates ~6 years ago here:
https://github.com/automicus/PyISY/tree/ff

[2021-01-28 22:54] shbatm commented on #131
I'm going to close this for now, as it doesn't look like there's much support to make scenes devices on the Home Assistant side; however, the original request was to do so that way they could be added to Areas in Home Assistant. You can now add entities themselves to areas to accomplish the same thing.

[2021-01-28 22:54] #131 closed

[2021-01-28 22:55] shbatm commented on #124
@derekatkins Did you ever see if this was updated on UDI's side?

[2021-01-28 22:57] derekatkins commented on #124
@shbatm I believe it was updated in 5.3.1 (although I am still running 5.2.0)

[2021-01-29 15:54] jimboca commented on #147
Thanks!  We are considering pulling it into Polyglot V3 for those nodeservers that need direct access to the ISY, so docs would help others.

[2021-01-29 19:26] shbatm commented on #147
10-4; hoping to have time to polish up PyISY V3 in the next month; work & life has gotten in the way. I will get docs cleaned up too and re-posted.

Is Polyglot V3 going to be fully async? It's been a long time since I've been in the NodeServer code and I can't remember. Curious just because it may change which PyISY branch you'd have to target.

[2021-01-30 04:24] jimboca commented on #147
Thanks! Understand about work and life, same here.
Polyglot is a sync, but the python interface to it is not. Maybe do that with v4, but it may not really be necessary.

[2021-02-02 15:46] shbatm commented on #147
Initial demo is live on https://pyisy.readthedocs.io/

I will work on updating as I polish up the V3 code.

[2021-02-02 21:26] jimboca commented on #147
Nice! Thank you.

[2021-02-19 01:27] shbatm opened #153 "Ignore state of wireless controllers when determining group (scene) state"
Wireless controllers are one direction devices that do not wake-up and accept state changes when another controller changes the state of a group. Wireless controllers do not have a local state display, they simply report events.

The unexpected behavior is that groups can remain in the 'on' state when the group is effectively off. The desired behavior is to better reflect the real-world state of t

[2021-02-19 02:04] shbatm commented on #145
@NickWaterton - I opened a new PR for the V3.x fix, which just removes the hint feature entirely and relies on the ISY sending an update in the event stream (or a manual `node.update()` call) to update the status of the node.

[2021-02-19 03:36] shbatm commented on #140
@MechEng70, I'm finally trying to work on this a bit--can you please send me the XML results of the following URL? Doesn't matter which parameter, just need to know the real format that it spits out.

http://your-isy-ip:port/rest/zwave/node/<nodeAddress>/config/query/<parameterNumber>

[2021-02-19 03:39] bdraco commented on #145
If the action the user is performing fails, we should raise an exception to feed back to the UI.

If the action fails later we don't really have a way to feed it back to the user except logging.

I think its fine to remove the optimistic state change since the websocket is fast enough to deliver the event back to the state machine.

[2021-02-19 06:17] MechEng70 commented on #140
Hi! Yes.  I can do it this weekend.  I'm away from my house until tomorrow night.

[2021-02-19 14:38] maverick2041 commented on #140
I'm happy to help where I can as well.  Here's the output from the path you requested:

<?xml version="1.0" encoding="UTF-8"?><config paramNum="8" size="4" value="33884690" />

[2021-02-19 18:12] OverloadUT commented on #153
I fully agree with changing this! The button states have always been confusing.

[2021-02-19 18:19] rccoleman commented on #153
Agreed. I have a python_script and set of automations that I use just to 'fix' the state of battery-operated controllers so I get an accurate scene state.

[2021-02-19 20:31] shbatm commented on #140
Thanks @maverick2041 -- I finally caved and dropped one of my Inovelli Red On/Off switches off my Aeotec stick and put it on the ISY to test. Looks like the draft version linked above is working well. I will push the HACS release as a beta version for you all to try (make sure you enable beta versions for ISY994 in HACS for `v3.0.0.dev17` to show up.

[2021-02-19 21:39] shbatm commented on #153
I added a PR which ignores the following NodeDefIDs, which should encompass most battery-powered Insteon devices, but please let me know if you know of any others. In particular--I don't have any Open/Close Sensors so I don't know for sure if that uses one of these NDIDs.

- BinaryAlarm
- BinaryAlarm_ADV
- BinaryControl
- BinaryControl_ADV
- RemoteLinc2
- RemoteLinc2_ADV

[2021-02-19 23:51] maverick2041 commented on #140
Thank you @shbatm! - I just tested with v3.0.0.dev18 and it's working perfectly

[2021-03-03 05:22] shbatm commented on #145
XREF: shbatm/hacs-isy994#85
cc: @rccoleman

[2021-03-03 20:38] rccoleman commented on #145
Thanks for the pointer to this discussion.  It does seem like the retry mechanism that you're discussing would help with the issue that I'm seeing, but unrelated to the issue above.  The typical case for me is that turning on a bunch of lights causes the ISY to sporadically respond with "404" (not found) errors via REST, resulting in the light not being turned on and the error mentioned in that is

[2021-05-17 17:15] #140 closed

[2021-05-17 17:15] shbatm commented on #124
Fixed upstream, not able to fix websockets here due to standards. Closing for now.

[2021-05-17 17:15] #124 closed

[2021-05-17 17:16] #153 closed

[2021-05-17 17:18] shbatm opened #184 "Implement Command Retry Methods when ISY Overwhelms Insteon Network"
Reference from #145

Thanks for the pointer to this discussion.  It does seem like the retry mechanism that you're discussing would help with the issue that I'm seeing, but unrelated to the issue above.  The typical case for me is that turning on a bunch of lights causes the ISY to sporadically respond with "404" (not found) errors via REST, resulting in the light not being turned on and the error

[2021-05-17 17:19] shbatm commented on #145
Closing with new issue #184 for adding enhancement for retry commands and #154 to fix this original issue.

[2021-05-17 17:19] #145 closed

[2021-05-17 17:19] #129 closed

[2021-05-17 17:20] shbatm commented on #53
Implemented Websockets in V3. Closing this issue.

[2021-05-17 17:20] #53 closed

[2021-05-17 17:21] shbatm commented on #107
Closing in advance of V3 release.

[2021-05-17 17:21] #107 closed

[2021-05-17 17:23] shbatm commented on #61
I don't see much traction and support for better certificate implementation on the ISY side. While I agree it would be best for proper security to verify certs, until ISY adds support for something like Let's Encrypt, my recommendation is still to secure the ISY behind some other reverse proxy if you *really* need to expose your device to the outside world.

V3 (and latest V2) supports connecting

[2021-05-17 17:23] #61 closed

[2021-05-17 17:24] shbatm commented on #18
Closing for now. Plenty of opportunities to increase security but recommendation for now is to only use this on a secure network and do not expose the ISY to external network unless you truly know what you are doing.

[2021-05-17 17:24] #18 closed

[2021-05-17 17:25] shbatm commented on #6
Stale. Closing. Re-open if still an issue.

[2021-05-17 17:25] #6 closed

[2021-05-17 17:26] shbatm commented on #48
Retries are implemented in V3.

[2021-05-17 17:26] #48 closed

[2021-06-03 16:59] shbatm commented on #123
@bdraco This has shown itself again with the release of 2021.06.0 -- did you ever find any reason we were running out of connections besides too many instances trying to connect?

https://forum.universal-devices.com/topic/26633-home-assistant-isy-component/page/5/?tab=comments#comment-312162

[2021-06-03 18:36] shbatm commented on #123
I'm unable to reproduce this. Even disabling the semaphore and blasting the ISY on HTTPS, I'm not able to reproduce.

[2021-06-03 18:44] bdraco commented on #123
I haven't seen this in a while either

[2021-06-03 19:18] shbatm commented on #123
Only common thread is having 10 or more NodeServers, which I don't use anymore. One person it just started after the upgrade, while still running on hacs-isy994, so I have no idea at the moment.

[2021-06-04 01:03] bdraco commented on #123
Submitted https://github.com/home-assistant/core/pull/51453 so we retry setup if we hit the timeout

[2021-06-27 21:51] jimboca opened #199 "pyisy.events WARNING 'NoneType' object has no attribute 'index'"
I see a lot of warnings in the log from PyISY for my HueEmulator Polyglot Nodeserver which is still using 2.1.1:

[code]

[2021-06-27 22:00] jimboca opened #200 "Print active sid information"
It would be nice if the library would print out the sid conneciton in mesages on initial conneciton and re-connection.  Trying to debug 5012 errors on the ISY, and it looks like PyISY is loosing the connection, and around the same time the ISY error log shows

ISY Log:
[code]

Nodeserver Log showing one disconnect.  The only reason I could know the sid is from the warning messages:

[code]

[2021-08-15 23:41] shbatm commented on #200
@jimboca are you on V2 or V3?

You should be able to print the raw messages with the SID if you enable verbose logging:

[code]

[2021-08-15 23:45] shbatm opened #216 "Home Assistant Integration: Update Variables to use Number instead of Sensor"
ISY Variables should be added to Home Assistant using the new [Number](https://www.home-assistant.io/integrations/number/) integration instead of as a sensor. This will allow direct use of the `number.set_value` service to update the variable instead of needing to use the custom `ISY994.set_variable` service.

The custom service will still be required for updating `init` values however.

@bdraco -

[2021-08-15 23:55] jimboca commented on #200
Thanks, I'll try that, just will make logs go crazy

HueEmulator is still on latest v2.

Reason I need this is that the ISY error logs print the Sid for connection issues and I was debugging socket errors to see who the culprit was.

[2021-08-16 00:42] shbatm commented on #200
Verbose was added in v2, so you should be able to adjust your logger to level 5 (logging.DEBUG is 10)

[2021-08-23 01:19] bdraco commented on #216
Nice.  I'm not planning on being bored any time soon. With everything I added to 2021.9, I think I will have a few weeks of followup 😆

[2021-11-09 19:29] MechEng70 opened #233 "Lock Manager"
Can you create a way to manager the lock devices?  to include users, codes, schedules, etc.  Most locks are zwave and user rest commands.  Can there be a "isy994.send_lock_command" type of command?

Here is an example of a Zwave Lock Manager for HA: https://community.home-assistant.io/t/zwave-lock-manager-updated/189932

[2021-12-22 23:45] shbatm commented on #233
This isn't something that will be included here. The Lock Parameters can be set and retreived with the Z-Wave Parameter Services and if something was going to be built for Home Assistant it would need to be built as a separate add-on.

Good idea, but trying to keep PyISY just to the core communciation to/from the ISY.

[2021-12-22 23:45] #233 closed

[2021-12-22 23:46] shbatm commented on #200
@jimboca - Were you able to get what you need by changing the logging level? This had been dropped below debug just to minimize noise when doing other troubleshooting. Will close this if you got what you needed.

[2021-12-23 03:08] jimboca commented on #200
I totally forgot about this until my ISY had issues again last week and Javi looked at the code. I've been too busy since to even think of it. I will try to enable it again over the holidays.

[2021-12-23 05:07] jimboca commented on #200
What can I look for in the log, there's a lot of logging to sort thru with full debug on :)
I'm setting it with something like this:
[code]
I'm now seeing these errors in the log, not sure if they were there before because I cleared all the old logs, so it could be a known issue?
[code]

[2022-01-02 23:02] JavierRefuerzo opened #244 "Missing Unsubscribe or check for isSubscribed."
Hi Guys,

First please forgive if I misunderstand how the library handles heartbeat  and reconnection events. This library is well written and clean alast, I am not very fluent in Python. Most of what I gathered are from PyISY/ISY logs and previous knowledge of subscription issues created by stress tests and/or debuging clients other than PyISY.

ISY Issue:
The Original ISY994 hardware has limited

[2022-01-03 03:03] shbatm commented on #244
Thanks for digging in on this. I'll have to look closer when I get a chance, it's been quite a while since I've looked at the SOAP connections. Just FYI, I know there are still a few modules that use V2 of this library, but the Home Assistant connections use the v3.x.x branch and IIRC only use the Websocket connections, not SOAP.

[2022-01-03 03:12] shbatm commented on #244
If you or anyone else want to test, it may be worth just changing [this line](https://github.com/automicus/PyISY/blob/master/pyisy/events.py#L217) to `self.unsubscribe()`. The only time that would be an issue and need further handling I can see off the bat is a true socket error (broken pipe/OSError).

[2022-01-03 03:30] jimboca commented on #244
Thanks @JavierRefuerzo
@shbatm I can take a look at it tomorrow and try your suggestion, app the pointer.
I thought the only changes for V3 were to make it async. I will try and move HueEmulator over to V3 when I move it to Polyglot V3.

[2022-01-03 03:40] shbatm commented on #244
@jimboca thanks! And also, wow what a f-up on my part... I just went back and looked and the switch to Websockets is not in the release notes for V3 anywhere.

Yes, a MAJOR part of the switch to Async and increasing stability in v3 was to switch the default to websockets. That was like 70% of the testing and issues in creating v3 and I totally left it out of the notes...

[2022-01-03 15:50] JavierRefuerzo commented on #244
Hi @shbatm ,
Thanks. I knew I missing something, although even websocket connections require the SOAP function unsubscribe as I do not believe there is a rest equivalent.

[2022-01-03 16:51] jimboca commented on #244
@shbatm I will definitely work on converting to V3 when I move to PG3.  It's a more effort because Polyglot is not async, but I've incorporated a couple other async libraries in other nodeservers so shouldn't be to difficult.

I made the suggested change in a local clone last night, and so far it is looking great, only one subscription currently open for PyISY which is a big improvement.  Will let

[2022-01-04 23:46] jimboca commented on #244
This looks to be working great!  Same sid for 2 days now.

[2022-01-07 03:01] jimboca commented on #244
Still the same sid, I think this is good to release.

[2022-01-18 04:45] rccoleman opened #246 "Flood of websocket-related errors when Home Assistant starts"
I don't know whether this is specific to HA's use of PyISY, but that's how I'm using it and it does seem to be an issue in PyISY.  Fairly often when I start HA, I get a flood of errors that start like this:

[code]

It continues with quite a lot of these:
`2022-01-17 18:55:50 WARNING (MainThread) [pyisy.events.websocket] Websocket disconnected unexpectedly with code: WSCloseCode.ABNORMAL_CLOSURE`

[2022-01-21 03:38] jimboca commented on #244
@shbatm This has been working great now for over 2 weeks on my system.  Can it be released?

[2022-01-25 23:33] shbatm commented on #244
@jimboca - yes, I will try and get it pushed in the next day or so.

[2022-01-25 23:37] jimboca commented on #244
Thanks @shbatm !

[2022-01-29 01:14] shbatm commented on #200
I'm trying to manually guess at the back trace here--it looks like a failed update message for a program based on the event data.

[caught error](https://github.com/automicus/PyISY/blob/340bf8cc8814759d61d1669fcb9eb97245fa9689/pyisy/events.py#L269) <-- [central router](https://github.com/automicus/PyISY/blob/340bf8cc8814759d61d1669fcb9eb97245fa9689/pyisy/events.py#L111) <-- [program receiver](http

[2022-01-29 01:17] jimboca commented on #200
@shbatm I think that comment was for a different issue, or I'm very confused...

[2022-01-29 02:26] shbatm commented on #200
That was in reference to your comment above:

[2022-01-29 05:56] JavierRefuerzo commented on #244
Thanks @shbatm!  Closing reference #245

[2022-01-29 05:56] #244 closed

[2022-01-31 16:48] shbatm commented on #123
Have not seen this in a while and cannot currently reproduce. Closing for now.

[2022-01-31 16:48] #123 closed

[2022-01-31 16:50] #200 closed

[2022-01-31 16:50] shbatm commented on #199
I'm trying to manually guess at the back trace here--it looks like a failed update message for a program based on the event data.

[caught error](https://github.com/automicus/PyISY/blob/340bf8cc8814759d61d1669fcb9eb97245fa9689/pyisy/events.py#L269) <-- [central router](https://github.com/automicus/PyISY/blob/340bf8cc8814759d61d1669fcb9eb97245fa9689/pyisy/events.py#L111) <-- [program receiver](http

[2022-02-26 19:36] rccoleman commented on #246
I enabled debug for pyisy and pyisy.events and got this:

[code]

Maybe it's just the ISY mysteriously rejecting the connection until it finally accepts it?

[2022-02-27 00:21] shbatm commented on #246
I'm still not sure on this one and can't reproduce from my end. I agree it may be related to https://github.com/home-assistant/core/issues/66003 (after the thermostat errors) but I can't see what's causing the upsets. The closest thing I could find is a closed issue from [aiohttp](https://github.com/aio-libs/aiohttp/issues/1951), but that was resolved. I'll wait for bdraco to come back on #248 to

[2022-02-27 00:26] rccoleman commented on #246
It took me a while to repro it to capture the logs above.  Restarting the ISY doesn't have an effect and I haven't found a reliable trigger for it.  The most interesting bit is this:

[code]

but it only shows up periodically in the logs during these retries.

[2022-02-27 22:42] shbatm commented on #246
Potentially fixed by #248, releases V3.0.3 and V2.1.4

[2022-04-02 23:28] shbatm opened #256 "ISY994 Group incorrectly reported 'ON' when group contains a controllinc or remotelinc device"
ControlLinc and RemoteLinc devices do not update their state in response to a scene change from another controller, similar to RemoteLinc2 devices. They need to be added to the "exclude" list: fix requires `DimmerSwitchOnly` added to [this list](https://github.com/automicus/PyISY/blob/66431029e78e629924e88c77ad1b547d4dad0414/pyisy/constants.py#L736) which will exclude it from calculating if the sc

[2022-04-05 11:14] #256 closed

[2022-04-18 21:30] bpaauwe opened #260 "version 2.1.5 is broken"
The latest commit tries to use FAMILY_GENERIC but that doesn't exist on the 2.x branch.

[2022-04-27 20:34] bdraco opened #262 "UnboundLocalError during service call failure"
I'm doing testing with isy on polisy and creating issues for everything I find

[code]

[2022-04-28 00:21] shbatm commented on #262
Sounds good. My Polisy has been on the shelf since release, Mr. Bill from the UDI forum has been doing some testing too. Hopefully I can get around to running IoP and testing it soon. I'll work on these as I get time.

[2022-05-04 00:05] #260 closed

[2022-05-04 00:11] bpaauwe commented on #260
Thanks!

[2022-05-04 00:24] shbatm commented on #260
v2.1.6 released

[2022-05-04 00:38] #262 closed

[2022-05-27 11:52] shbatm commented on #246
@rccoleman are you still seeing issues using the latest version?

[2022-05-27 11:54] shbatm opened #269 "[FR] Home Assistant: Convert isy994_control Events to Device Events and Device Triggers"
Update the Home Assistant integration to use Device Events and Device Triggers instead of just the `isy994_control` event structures. This will allow selection in the UI for automations.

[2022-05-27 11:56] shbatm commented on #269
This was migrated from shbatm/hacs-isy994#59.

Original Issue Text:

As originally flagged here: https://github.com/home-assistant/core/pull/35225#discussion_r419989024

Opening an issue here to allow discussion and development/testing of a migration plan for `isy994_control` events to fit the updated Home Assistant design guidelines.

Some initial thoughts:

- The control events from the PyISY pi

[2022-05-27 11:59] shbatm opened #270 "[FR] Home Assistant: Add Siren Support in device sorting by Insteon Type and NodeDefID"
Originated from https://github.com/shbatm/hacs-isy994/issues/74

Migrated here when archiving hacs-isy994.

[2022-05-27 18:07] rccoleman commented on #246
I am, and it's been really difficult to nail down what triggers it.  For a while it seemed weirdly correlated to my reloading template entities, which didn't make any sense to me, and isn't a reliable repro method.  I'll spend some time over the weekend trying to track it down.

[2022-07-25 00:48] jimboca opened #283 "2.1.6 AttributeError: 'Nodes' object has no attribute 'status_events'"
Not sure what is causing this, it runs find on my home Polisy, but not on my vacation home polisy.

[code]

[2022-07-30 15:07] MrBill12 opened #285 "ISY must have at least one ISY "program""
Recreating the original HA error seems impossible.  At least 3 users have been unable to add Polisy's to HA without at least one ISY program.

Current behavior: An ISY must have at least one ISY Program when the Home Assistant integration is initially loaded.
Expected behavior: the ISY shouldn't need any ISY Program entries.

with an almost empty Polisy, attempted to recreate original issue by del

[2022-09-07 22:21] jimboca commented on #283
@shbatm Any clue what would cause this?

[2022-09-26 06:32] bdraco opened #297 "Startup fails if ISY is still starting up"
I had a power outage today and things didn't startup in the right order which resulted in the below

[code]

[2022-09-26 10:46] shbatm commented on #283
@jimboca See #297: was the Polisy still booting when you saw this issue?

[2022-09-26 12:37] jimboca commented on #283
I'm pretty sure it was not, but I will confirm.

[2022-09-26 16:36] jimboca commented on #283
I just restart the node server and ISY on Polisy has been running for a long time and it died with the same error.

[2022-09-27 09:25] shbatm commented on #283
Would you mind emailing me a copy of the xml from /rest/nodes and /rest/status? I'll try and load it on my mock isy and see if I can find out what's going on. (support at shbatm dot com)

[2022-09-27 13:37] shbatm commented on #297
I don't know of any way to detect via REST if the ISY is still loading.

I can handle this error (the defaults in the init function arguments should be `=[]` not `=None`), but that may also lead to an issue where the ISY loads "successfully" but doesn't actually load one of the modules because it receives a partial/empty response.

I'll fix the init function definitions when I get a chance.

[2022-09-27 16:22] bdraco commented on #297
Thinking about this we might just want to catch it in hass and retry since even if we could determine if the isy is loading it doesn't mean it's still loading on the next request as it would be race prone

[2022-09-27 23:51] shbatm commented on #283
Thanks for the files. I found the problem, I'm just not sure how you managed it: you have a Folder included as a link in a Scene--as far as I was aware that was impossible. Is that a new feature? I saw the ability to add Z-Wave Nodes to Scenes, but I'm still on 5.3.4 and didn't see anything about linking folders like that.

The `Water Valve Main` and `Housekeeper Lake` scenes have member links to

[2022-09-28 03:41] shbatm commented on #283
I had to add some debug log calls to figure out which group it was choking on. I'll add the calls to the next version which will at least help narrow down a problem node/group.

[2022-09-28 03:43] shbatm commented on #283
That's along the lines of what I was thinking. I don't know the order which you created everything, but it looked like the address got reused.

[2022-09-28 04:42] JavierRefuerzo commented on #283
@jimboca , I looked at your ticket but the image does not show anything out of the ordinary.  Can you please send me a copy of the same XML sent to shbatm?

I don't believe node ID's are validated by ISY due to older firmware constraints. So,  if a client (i.e. UD Mobile, AC, ect.) specified the Folder Address as a node it may be accepted.   I don't think UD Mobile would do this as the types are d

[2022-09-28 12:53] jimboca commented on #283
Thanks @JavierRefuerzo I meant to include the xml as well but must have missed it.

[2022-11-10 01:59] shbatm opened #306 "Battery Level Nodes with no ST property do not update"
Some Battery Level nodes only provide a `BATLVL` property instead of a `ST` state property. On initial loading this is set as the state [here](https://github.com/automicus/PyISY/blob/71db0d9471dc72a1e326ddf9ace7991b8ffd7f72/pyisy/helpers.py#L69) but then the node will never update the status because it is waiting for a `ST` update that never arrives. Updates are only captured in control message up